Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

feat(generate-key): add helper util to generate random keys
  src/utils/generate-key.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(generate-key): add tests and mock for helper util
  src/utils/__mocks__/generate-key.ts
  src/utils/__tests__/generate-key.test.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(attribution): add component and styles
  src/components/Attribution/Attribution.styles.tsx
  src/components/Attribution/Attribution.tsx
  src/components/Attribution/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(attribution): add stories and tests
  src/components/Attribution/Attribution.stories.tsx
  src/components/Attribution/Attribution.test.tsx
  src/components/Attribution/__snapshots__/Attribution.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: add attribution to blog post template
  content/posts/2018/post-1/index.md
  src/pages/index.tsx
  src/templates/blog-post.tsx
  src/typings/PostQuery.d.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

chore: add script to preoptimize images
  package.json
  scripts/optimize.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(image): change demo image component
  src/components/Image/Image.tsx
  src/pages/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

change settings of gatsby-remark-images
  content/posts/2018/post-1/index.md
  gatsby-config.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

chore: remove markdown captions option
  content/posts/2018/post-1/index.md
  gatsby-config.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

chore(typescript): convert interfaces to types
  src/components/Attribution/Attribution.tsx
  src/components/Blockquote/Blockquote.tsx
  src/components/ColorSwatch/ColorSwatch.tsx
  src/components/Emojify/Emojify.tsx
  src/components/Header/Header.tsx
  src/components/InlineQuote/InlineQuote.tsx
  src/components/Layout/Layout.tsx
  src/components/LocalizedDate/LocalizedDate.tsx
  src/components/Pullquote/Pullquote.tsx
  src/components/RubyAnnotation/RubyAnnotation.tsx
  src/components/SEO/SEO.tsx
  src/components/Spoiler/Spoiler.tsx
  src/components/TextLink/TextLink.tsx
  src/components/Typography/Typography.tsx
  src/components/Typography/TypographyStyles.ts
  src/templates/blog-post.tsx
  src/themes/tokens/breakpoints.ts
  src/themes/tokens/colors.ts
  src/themes/tokens/fontWeights.ts
  src/themes/tokens/lineHeights.ts
  src/themes/tokens/radii.ts
  src/themes/tokens/space.ts
  src/themes/tokens/typographicScale.ts
  src/typings/EdgeNode.d.ts
  src/typings/PostPageContext.d.ts
  src/typings/PostQuery.d.ts
  src/typings/PostsQuery.d.ts
  src/typings/SiteMetadataQueryData.d.ts
  src/typings/Theme.d.ts
  src/utils/test-utils.tsx
  templates/component/{{pascalCase name}}.tsx.txt
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(theme-toggle): simplify the ThemeToggle to be more minimal
  src/components/icons/__snapshots__/icons.test.tsx.snap
  src/components/icons/arrow-left.stories.tsx
  src/components/icons/arrow-left.tsx
  src/components/icons/circle.stories.tsx
  src/components/icons/circle.tsx
  src/components/icons/icons.test.tsx
  src/components/icons/index.tsx
  src/components/icons/moon.stories.tsx
  src/components/icons/moon.tsx
  src/components/icons/sun.stories.tsx
  src/components/icons/sun.tsx
  src/components/icons/svg/arrow-left.svg
  src/components/icons/svg/circle.svg
  src/components/icons/svg/moon.svg
  src/components/icons/svg/sun.svg
  src/components/theme-toggle/__snapshots__/theme-toggle.test.tsx.snap
  src/components/theme-toggle/theme-toggle.styles.tsx
  src/components/theme-toggle/theme-toggle.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix(styled-components): downgrade to styled-components version 4.4.1
  package.json
  yarn.lock
Due: prettier --write, jest --findRelatedTests

feat(clickable): create new component for clickable buttons
  .gitmodules
  package.json
  src/components/clickable/__snapshots__/clickable.test.tsx.snap
  src/components/clickable/clickable.styles.tsx
  src/components/clickable/clickable.test.tsx
  src/components/clickable/clickable.tsx
  src/components/clickable/index.ts
  src/layout/emojify-toggle/__snapshots__/emojify-toggle.test.tsx.snap
  src/layout/emojify-toggle/emojify-toggle.styles.tsx
  src/layout/emojify-toggle/emojify-toggle.tsx
  src/layout/theme-toggle/__snapshots__/theme-toggle.test.tsx.snap
  src/layout/theme-toggle/theme-toggle.styles.tsx
  src/layout/theme-toggle/theme-toggle.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(block-link): add missing tests
  .storybook/preview.js
  src/components/attribution/__snapshots__/attribution.test.tsx.snap
  src/components/text-link/__snapshots__/text-link.test.tsx.snap
  src/components/text-link/text-link.stories.tsx
  src/components/text-link/text-link.test.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(navigation): add component for page navigation
  content/data/navigation.yml
  src/layout/navigation/__snapshots__/navigation.test.tsx.snap
  src/layout/navigation/index.ts
  src/layout/navigation/navigation.styles.tsx
  src/layout/navigation/navigation.test.tsx
  src/layout/navigation/navigation.tsx
  src/typings/navigation-query-data.d.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(header): add page header component
  src/layout/footer/footer.styles.tsx
  src/layout/footer/footer.tsx
  src/layout/footer/index.ts
  src/layout/header/__snapshots__/header.test.tsx.snap
  src/layout/header/header.styles.tsx
  src/layout/header/header.test.tsx
  src/layout/header/header.tsx
  src/layout/index.ts
  src/layout/layout.tsx
  src/layout/styles/global.css
  src/pages/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(grid): add grid component
  src/layout/grid/grid.styles.tsx
  src/layout/grid/grid.tsx
  src/layout/grid/index.ts
  src/layout/header/__snapshots__/header.test.tsx.snap
  src/layout/index.ts
  src/layout/theme-toggle/__snapshots__/theme-toggle.test.tsx.snap
  src/layout/theme-toggle/theme-toggle.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(header): finish header component with HomeLink, Navigation and ThemeToggle
  src/layout/grid/__snapshots__/grid.test.tsx.snap
  src/layout/grid/grid.styles.tsx
  src/layout/grid/grid.test.tsx
  src/layout/header/__snapshots__/header.test.tsx.snap
  src/layout/header/header.styles.tsx
  src/layout/header/header.tsx
  src/layout/home-link/__snapshots__/home-link.test.tsx.snap
  src/layout/home-link/home-link.styles.tsx
  src/layout/home-link/home-link.test.tsx
  src/layout/home-link/home-link.tsx
  src/layout/home-link/index.ts
  src/layout/index.ts
  src/layout/navigation/__snapshots__/navigation.test.tsx.snap
  src/layout/navigation/navigation.styles.tsx
  src/layout/navigation/navigation.tsx
  src/layout/theme-toggle/theme-toggle.tsx
  src/typings/styled-components.d.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(footer): add footer component with LegalInformation and UpLink
  jest.config.js
  src/components/clickable/__snapshots__/clickable.test.tsx.snap
  src/components/clickable/clickable.styles.tsx
  src/components/clickable/clickable.tsx
  src/components/clickable/index.ts
  src/components/localized-date/localized-date.test.tsx
  src/components/spoiler/spoiler.test.tsx
  src/html.js
  src/layout/emojify-toggle/__snapshots__/emojify-toggle.test.tsx.snap
  src/layout/emojify-toggle/emojify-toggle.styles.tsx
  src/layout/emojify-toggle/emojify-toggle.tsx
  src/layout/emojify/__snapshots__/emojify.test.tsx.snap
  src/layout/footer/__snapshots__/footer.test.tsx.snap
  src/layout/footer/footer.styles.tsx
  src/layout/footer/footer.test.tsx
  src/layout/footer/footer.tsx
  src/layout/grid/__snapshots__/grid.test.tsx.snap
  src/layout/grid/grid.styles.tsx
  src/layout/header/__snapshots__/header.test.tsx.snap
  src/layout/header/header.styles.tsx
  src/layout/header/header.tsx
  src/layout/home-link/home-link.tsx
  src/layout/index.ts
  src/layout/layout.tsx
  src/layout/legal-information/__snapshots__/legal-information.test.tsx.snap
  src/layout/legal-information/index.ts
  src/layout/legal-information/legal-information.styles.tsx
  src/layout/legal-information/legal-information.test.tsx
  src/layout/legal-information/legal-information.tsx
  src/layout/seo/seo.test.tsx
  src/layout/theme-toggle/__snapshots__/theme-toggle.test.tsx.snap
  src/layout/theme-toggle/theme-toggle.styles.tsx
  src/layout/theme-toggle/theme-toggle.tsx
  src/layout/up-link/__snapshots__/up-link.test.tsx.snap
  src/layout/up-link/index.ts
  src/layout/up-link/up-link.styles.tsx
  src/layout/up-link/up-link.test.tsx
  src/layout/up-link/up-link.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(layout): finish page grid and different sizes of the grid
  gatsby-browser.js
  src/components/blockquote/__snapshots__/blockquote.test.tsx.snap
  src/components/blockquote/blockquote.test.tsx
  src/components/typography/__snapshots__/typography.test.tsx.snap
  src/components/typography/typography.styles.tsx
  src/layout/__snapshots__/layout.test.tsx.snap
  src/layout/footer/__snapshots__/footer.test.tsx.snap
  src/layout/footer/footer.styles.tsx
  src/layout/home-link/__snapshots__/home-link.test.tsx.snap
  src/layout/home-link/home-link.styles.tsx
  src/layout/layout.styles.tsx
  src/layout/layout.test.tsx
  src/layout/layout.tsx
  src/layout/legal-information/__snapshots__/legal-information.test.tsx.snap
  src/layout/legal-information/legal-information.tsx
  src/layout/main/index.ts
  src/layout/main/main.styles.tsx
  src/layout/main/main.tsx
  src/layout/styles/global.css
  src/layout/theme-toggle/__snapshots__/theme-toggle.test.tsx.snap
  src/layout/theme-toggle/theme-toggle.styles.tsx
  src/layout/up-link/__snapshots__/up-link.test.tsx.snap
  src/layout/up-link/up-link.styles.tsx
  src/templates/default.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  jest --findRelatedTests: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  prettier --parser mdx --write: any of: *.{mdx,md}
