Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser markdown --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "stylelint --fix", "git add"],
  "*.{js,jsx,ts,tsx,css,d.ts,json}": [
    "prettier --write",
    "jest --findRelatedTests",
    "git add"
  ],
  "*.{mdx,md}": ["prettier --parser markdown --write", "git add"]
}

chore(storybook): add scripts to run Storybook and Gatsby in parallel
  package.json
Due: prettier --write, jest --findRelatedTests

chore(storybook): add setup and configuration for Storybook
  .storybook/addons.js
  .storybook/preview.js
  .storybook/webpack.config.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(storybook): add Playfair Display font and Layout components for Storybook
  .storybook/preview-head.html
  .storybook/preview.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(storybook): add stories for all existing components
  src/components/ColorSwatch/ColorSwatch.stories.tsx
  src/components/Emojify/Emojify.stories.tsx
  src/components/EmojifyToggle/EmojifyToggle.stories.tsx
  src/components/Icons/ArrowUp.stories.tsx
  src/components/Icons/Information.stories.tsx
  src/components/Icons/Moon.stories.tsx
  src/components/Icons/Sun.stories.tsx
  src/components/InlineCode/InlineCode.stories.tsx
  src/components/KeyboardShortcut/KeyboardShortcut.stories.tsx
  src/components/LocalizedDate/LocalizedDate.stories.tsx
  src/components/OrderedList/OrderedList.stories.tsx
  src/components/RubyAnnotation/RubyAnnotation.stories.tsx
  src/components/Sample/Sample.stories.tsx
  src/components/Spoiler/Spoiler.stories.tsx
  src/components/TextLink/TextLink.stories.tsx
  src/components/ThemeToggle/ThemeToggle.stories.tsx
  src/components/Typography/Headline.stories.tsx
  src/components/Typography/Paragraph.stories.tsx
  src/components/Typography/Subline.stories.tsx
  src/components/Typography/Title.stories.tsx
  src/components/UnorderedList/UnorderedList.stories.tsx
  src/components/Variable/Variable.stories.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(eslint): ignore site JavaScript partial
  .eslintignore
  src/utils/theme.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(storybook): wrap Emojify component in Paragraph
  src/components/Emojify/Emojify.stories.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(theme): move global theme functions into separate file
  .eslintignore
  src/html.js
  src/utils/theme.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(storybook): add dependencies for Storybook
  package.json
  yarn.lock
Due: prettier --write, jest --findRelatedTests

chore(plop): update Storybook templates
  templates/component/{{pascalCase name}}.stories.tsx.txt
  templates/component/{{pascalCase name}}.styles.tsx.txt
  templates/component/{{pascalCase name}}.tsx.txt
Due: none

fix(storybook): wrong font was being used due to different font name
  .storybook/preview-head.html
Due: none

chore(storybook): move Typography stories into subfolder
  src/components/Typography/stories/Headline.stories.tsx
  src/components/Typography/stories/Paragraph.stories.tsx
  src/components/Typography/stories/Subline.stories.tsx
  src/components/Typography/stories/Title.stories.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

docs(styleguide): add Table to Styleguide
  src/pages/styleguide.mdx
Due: prettier --parser markdown --write

feat(table): add component for Table
  src/components/Table/Table.styles.tsx
  src/components/Table/Table.tsx
  src/components/Table/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(mdx-provider): add Table to provider
  src/components/MDXProviderContainer/MDXProviderContainer.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(table): add tests and stories
  src/components/Table/Table.stories.tsx
  src/components/Table/Table.test.tsx
  src/components/Table/__snapshots__/Table.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test: move component tests to test storybook stories
  src/components/ColorSwatch/ColorSwatch.stories.tsx
  src/components/ColorSwatch/ColorSwatch.test.tsx
  src/components/ColorSwatch/ColorSwatch.tsx
  src/components/ColorSwatch/__snapshots__/ColorSwatch.test.tsx.snap
  src/components/Emojify/Emojify.stories.tsx
  src/components/Emojify/Emojify.test.tsx
  src/components/Emojify/__snapshots__/Emojify.test.tsx.snap
  src/components/EmojifyToggle/EmojifyToggle.test.tsx
  src/components/Icons/Icons.test.tsx
  src/components/Icons/__snapshots__/Icons.test.tsx.snap
  src/components/InlineCode/InlineCode.test.tsx
  src/components/InlineCode/__snapshots__/InlineCode.test.tsx.snap
  src/components/KeyboardShortcut/KeyboardShortcut.test.tsx
  src/components/KeyboardShortcut/__snapshots__/KeyboardShortcut.test.tsx.snap
  src/components/LocalizedDate/LocalizedDate.test.tsx
  src/components/OrderedList/OrderedList.test.tsx
  src/components/OrderedList/__snapshots__/OrderedList.test.tsx.snap
  src/components/RubyAnnotation/RubyAnnotation.stories.tsx
  src/components/RubyAnnotation/RubyAnnotation.test.tsx
  src/components/RubyAnnotation/__snapshots__/RubyAnnotation.test.tsx.snap
  src/components/Sample/Sample.test.tsx
  src/components/Sample/__snapshots__/Sample.test.tsx.snap
  src/components/Spoiler/Spoiler.test.tsx
  src/components/Spoiler/__snapshots__/Spoiler.test.tsx.snap
  src/components/Table/Table.test.tsx
  src/components/TextLink/TextLink.test.tsx
  src/components/TextLink/__snapshots__/TextLink.test.tsx.snap
  src/components/ThemeToggle/ThemeToggle.test.tsx
  src/components/Typography/Typography.test.tsx
  src/components/Typography/__snapshots__/Typography.test.tsx.snap
  src/components/UnorderedList/UnorderedList.test.tsx
  src/components/UnorderedList/__snapshots__/UnorderedList.test.tsx.snap
  src/components/Variable/Variable.test.tsx
  src/components/Variable/__snapshots__/Variable.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

docs(styleguide): add horizontal rule to styleguide
  src/pages/styleguide.mdx
Due: prettier --parser markdown --write

feat(horizontal-rule): add hr component
  src/components/HorizontalRule/HorizontalRule.styles.tsx
  src/components/HorizontalRule/HorizontalRule.tsx
  src/components/HorizontalRule/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(horizontal-rules): add tests and stories
  src/components/HorizontalRule/HorizontalRule.stories.tsx
  src/components/HorizontalRule/HorizontalRule.test.tsx
  src/components/HorizontalRule/__snapshots__/HorizontalRule.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(mdx-provider): add HorizontalRule component to MDX Provider
  src/components/MDXProviderContainer/MDXProviderContainer.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(plop): update component template to reflect storybook workflow
  templates/component/{{pascalCase name}}.test.tsx.txt
Due: none
