Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "stylelint --fix"],
  "*.{js,jsx,ts,tsx,css,d.ts,json}": [
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.{mdx,md}": ["prettier --parser mdx --write"]
}

feat(affiliate-link): add affiliate link component and replace long links in all articles
  content/posts/2007/gtd/index.md
  content/posts/2007/japanese-colors/index.md
  content/posts/2007/koi-design/index.md
  content/posts/2010/rework/index.md
  content/posts/2011/decodeunicode/index.md
  content/posts/2014/john-seymour-books/index.md
  content/posts/2014/website-typography/index.md
  content/posts/2015/calisthenics/index.md
  content/posts/2017/minimalism/index.md
  content/posts/2018/morning-routine/index.md
  src/components/affiliate-link/__snapshots__/affiliate-link.test.tsx.snap
  src/components/affiliate-link/affiliate-link.stories.tsx
  src/components/affiliate-link/affiliate-link.test.tsx
  src/components/affiliate-link/affiliate-link.tsx
  src/components/affiliate-link/index.ts
  src/layout/mdx-provider-container/shortcodes.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

refactor(journal): change size of columns
  src/screens/journal/all-posts/__snapshots__/all-posts.test.tsx.snap
  src/screens/journal/all-posts/all-posts.styles.tsx
  src/screens/journal/monthly/__snapshots__/monthly.test.tsx.snap
  src/screens/journal/monthly/monthly.styles.tsx
  src/screens/journal/monthly/monthly.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(journal): remove all unnecessary quotes
  content/posts/2007/japanese-colors/index.md
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/index.md
  content/posts/2016/jekyll-hugo-migration/index.md
  content/posts/2018/morning-routine/index.md
  content/posts/2018/storing-information/index.md
Due: prettier --parser mdx --write

refactor(attribution): make sure the author name breaks completely in a new line if necessary
  src/components/attribution/__snapshots__/attribution.test.tsx.snap
  src/components/attribution/attribution.styles.tsx
  src/components/attribution/attribution.tsx
  src/screens/journal-detail/footer/__snapshots__/footer.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(journal): add articles from 2019
  content/posts/2019/favorites-2019-08/cover.jpg
  content/posts/2019/favorites-2019-08/index.md
  content/posts/2019/favorites-2019-09/cover.jpg
  content/posts/2019/favorites-2019-09/index.md
  content/posts/2019/favorites-2019-10/cover.jpg
  content/posts/2019/favorites-2019-10/index.md
  content/posts/2019/favorites-2019-11/cover.jpg
  content/posts/2019/favorites-2019-11/index.md
  content/posts/2019/favorites-2019-12/cover.jpg
  content/posts/2019/favorites-2019-12/index.md
Due: prettier --parser mdx --write

refactor(netflix-flag): add title attribute
  src/components/flag/netflix-flag/netflix-flag.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(prime-video-flag): add title attribute
  src/components/flag/flag.tsx
  src/components/flag/prime-video-flag/prime-video-flag.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: remove margin in lists in lists
  src/components/ordered-list/__snapshots__/ordered-list.test.tsx.snap
  src/components/ordered-list/ordered-list.styles.tsx
  src/components/unordered-list/__snapshots__/unordered-list.test.tsx.snap
  src/components/unordered-list/unordered-list.styles.tsx
  src/screens/about/connect/__snapshots__/connect.test.tsx.snap
  src/screens/cv/awards/__snapshots__/awards.test.tsx.snap
  src/screens/cv/experience/__snapshots__/experience.test.tsx.snap
  src/screens/cv/interests/__snapshots__/interests.test.tsx.snap
  src/screens/cv/languages/__snapshots__/languages.test.tsx.snap
  src/screens/haiku/introduction/__snapshots__/introduction.test.tsx.snap
  src/screens/journal/all-posts/__snapshots__/all-posts.test.tsx.snap
  src/screens/journal/monthly/__snapshots__/monthly.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(journal): add articles from 2020
  content/posts/2020/101-things-you-can-do/cover.jpg
  content/posts/2020/101-things-you-can-do/index.md
  content/posts/2020/apps-tools-services/cover.jpg
  content/posts/2020/apps-tools-services/index.md
  content/posts/2020/apps-tools-services/og.jpg
  content/posts/2020/everyday-carry/everyday-carry.jpg
  content/posts/2020/everyday-carry/index.md
  content/posts/2020/favorites-2020-01/cover.jpg
  content/posts/2020/favorites-2020-01/index.md
  content/posts/2020/favorites-2020-02/cover.jpg
  content/posts/2020/favorites-2020-02/index.md
  content/posts/2020/favorites-2020-03/cover.jpg
  content/posts/2020/favorites-2020-03/index.md
  content/posts/2020/favorites-2020-04/cover.jpg
  content/posts/2020/favorites-2020-04/index.md
  content/posts/2020/favorites-2020-04/og.jpg
  content/posts/2020/favorites-2020-05/cover.jpg
  content/posts/2020/favorites-2020-05/index.md
  content/posts/2020/favorites-2020-05/og.jpg
  content/posts/2020/zettelkasten-note-taking-devonthink/cover.jpg
  content/posts/2020/zettelkasten-note-taking-devonthink/devonthink-sorter.jpg
  content/posts/2020/zettelkasten-note-taking-devonthink/devonthink-zettelkasten.jpg
  content/posts/2020/zettelkasten-note-taking-devonthink/index.md
  content/posts/2020/zettelkasten-note-taking-devonthink/og.jpg
Due: prettier --parser mdx --write

chore(plop): update journal template
  scripts/templates/journal/index.mdx.txt
Due: none

fix(storybook): bug that broke the build
  .gitignore
  .storybook/preview.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(homepage): limit amount of posts and add link to projects page
  src/pages/index.tsx
  src/screens/homepage/what-i-do/__snapshots__/what-i-do.test.tsx.snap
  src/screens/homepage/what-i-do/what-i-do.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(banner): add a simple Banner component
  src/components/banner/__snapshots__/banner.test.tsx.snap
  src/components/banner/banner.stories.tsx
  src/components/banner/banner.styles.tsx
  src/components/banner/banner.test.tsx
  src/components/banner/banner.tsx
  src/components/banner/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(variable): make sure variable doesn’t break between lines
  src/components/variable/__snapshots__/variable.test.tsx.snap
  src/components/variable/variable.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(shortcodes): change headline weight for Markdown files
  src/layout/mdx-provider-container/shortcodes.tsx
  src/pages/imprint.mdx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

feat(journal): add articles from 2008
  content/posts/2008/openstreetmap/index.md
  content/posts/2008/openstreetmap/openstreetmap.jpg
Due: prettier --parser mdx --write

feat(journal): add articles from 2011
  content/posts/2011/decodeunicode/decodeunicode.jpg
  content/posts/2011/decodeunicode/index.md
Due: prettier --parser mdx --write

feat(journal): add articles from 2017
  content/posts/2017/attention/attention.jpg
  content/posts/2017/attention/index.md
  content/posts/2017/gitbook/gitbook-kogakure.jpg
  content/posts/2017/gitbook/index.md
  content/posts/2017/minimalism/gtd-vorher.jpg
  content/posts/2017/minimalism/index.md
  content/posts/2017/minimalism/minimalism-cleanup-cellar.jpg
  content/posts/2017/minimalism/minimalism-living.jpg
  content/posts/2017/minimalism/minimalism-office.jpg
  content/posts/2017/website-relaunch-css-grid-layout/css-grid-inspector.jpg
  content/posts/2017/website-relaunch-css-grid-layout/index.md
  content/posts/2017/website-relaunch-css-grid-layout/kogakure-2017.jpg
Due: prettier --parser mdx --write

feat(journal): add articles fof 2010
  content/posts/2010/rework/index.md
  content/posts/2010/rework/rework.jpg
  content/posts/2010/vim/index.md
  content/posts/2010/vim/vim-vintage.jpg
  content/posts/2010/webstandards-magazine-django/index.md
  content/posts/2010/webstandards-magazine-django/webstandards-magazine-django.jpg
Due: prettier --parser mdx --write

feat(journal): add articles from 2009
  content/posts/2009/git/index.md
  content/posts/2009/gitweb-theme/gitweb-theme-commit.png
  content/posts/2009/gitweb-theme/gitweb-theme-commitdiff.png
  content/posts/2009/gitweb-theme/gitweb-theme-log.png
  content/posts/2009/gitweb-theme/gitweb-theme-projects.png
  content/posts/2009/gitweb-theme/gitweb-theme-summary.png
  content/posts/2009/gitweb-theme/gitweb-theme-tree.png
  content/posts/2009/gitweb-theme/index.md
  content/posts/2009/home-documentary/home.jpg
  content/posts/2009/home-documentary/index.md
Due: prettier --parser mdx --write

feat(journal): add articles from 2015
  content/posts/2015/calisthenics/calisthenics-arm-elbow-lever.jpg
  content/posts/2015/calisthenics/calisthenics-best-dad-ever.jpg
  content/posts/2015/calisthenics/calisthenics-human-flag.jpg
  content/posts/2015/calisthenics/index.md
  content/posts/2015/gulp-tutorial-16-postcss/gulp-tutorial-16.jpg
  content/posts/2015/gulp-tutorial-16-postcss/index.md
  content/posts/2015/gulp-tutorial-16-postcss/postcss-logo.svg
  content/posts/2015/human-documentary/human.jpg
  content/posts/2015/human-documentary/index.md
  content/posts/2015/motivational-video/index.md
  content/posts/2015/motivational-video/motivational-video.jpg
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/index.md
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/kogakure-de-bamboo-affinity-designer.jpg
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/kogakure-de-grids.jpg
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/kogakure-de-relaunch.jpg
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/kogakure-de-v1.jpg
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/kogakure-de-v2.jpg
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/kogakure-de-v3.jpg
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/kogakure-de-v4.jpg
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/kogakure-de-v5.jpg
Due: prettier --parser mdx --write

fix: a few bugs
  content/sketchnotes/the-art-of-enough/1.jpg
  content/sketchnotes/wim-hof-method/1.jpg
  src/screens/projects/book-kogakure/__snapshots__/book-kogakure.test.tsx.snap
  src/screens/projects/book-kogakure/book-kogakure.tsx
  src/screens/projects/hamburg-blog/__snapshots__/hamburg-blog.test.tsx.snap
  src/screens/projects/hamburg-blog/hamburg-blog.tsx
  src/screens/projects/koi-illustration/koi-illustration.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(journal): add articles from 2014
  content/posts/2014/brew-automatic-installation/index.md
  content/posts/2014/gulp-tutorial-1-intro-setup/gulp-tutorial-1.png
  content/posts/2014/gulp-tutorial-1-intro-setup/index.md
  content/posts/2014/gulp-tutorial-10-generating-sprites/gulp-tutorial-10.jpg
  content/posts/2014/gulp-tutorial-10-generating-sprites/index.md
  content/posts/2014/gulp-tutorial-11-production-build-server-and-jekyll/gulp-tutorial-11.jpg
  content/posts/2014/gulp-tutorial-11-production-build-server-and-jekyll/index.md
  content/posts/2014/gulp-tutorial-12-optimize-css-javascript-images-and-html/gulp-tutorial-12.jpg
  content/posts/2014/gulp-tutorial-12-optimize-css-javascript-images-and-html/index.md
  content/posts/2014/gulp-tutorial-13-revisioning/gulp-tutorial-13.jpg
  content/posts/2014/gulp-tutorial-13-revisioning/index.md
  content/posts/2014/gulp-tutorial-14-deploying-the-website/gulp-tutorial-14.jpg
  content/posts/2014/gulp-tutorial-14-deploying-the-website/index.md
  content/posts/2014/gulp-tutorial-15-performance-improvements-webp-gzip/gulp-tutorial-15.jpg
  content/posts/2014/gulp-tutorial-15-performance-improvements-webp-gzip/index.md
  content/posts/2014/gulp-tutorial-2-development-server-browsersync-configuration/gulp-tutorial-2.jpg
  content/posts/2014/gulp-tutorial-2-development-server-browsersync-configuration/index.md
  content/posts/2014/gulp-tutorial-3-build-clean-jekyll/gulp-tutorial-3.jpg
  content/posts/2014/gulp-tutorial-3-build-clean-jekyll/index.md
  content/posts/2014/gulp-tutorial-4-css-generation-sass/gulp-tutorial-4.jpg
  content/posts/2014/gulp-tutorial-4-css-generation-sass/index.md
  content/posts/2014/gulp-tutorial-5-javascripts-browserify/gulp-tutorial-5.jpg
  content/posts/2014/gulp-tutorial-5-javascripts-browserify/index.md
  content/posts/2014/gulp-tutorial-6-images-vector-fonts/gulp-tutorial-6.jpg
  content/posts/2014/gulp-tutorial-6-images-vector-fonts/index.md
  content/posts/2014/gulp-tutorial-7-base64/gulp-tutorial-7.jpg
  content/posts/2014/gulp-tutorial-7-base64/index.md
  content/posts/2014/gulp-tutorial-8-watch/gulp-tutorial-8.jpg
  content/posts/2014/gulp-tutorial-8-watch/index.md
  content/posts/2014/gulp-tutorial-9-linting-scss-and-javascript/gulp-tutorial-9.jpg
  content/posts/2014/gulp-tutorial-9-linting-scss-and-javascript/index.md
  content/posts/2014/john-seymour-books/index.md
  content/posts/2014/john-seymour-books/john-seymour-illustration.jpg
  content/posts/2014/logo-design/index.md
  content/posts/2014/logo-design/moleskine-pencil-drawings.jpg
  content/posts/2014/logo-design/rakkan.jpg
  content/posts/2014/website-typography/elements-of-typographic-style.jpg
  content/posts/2014/website-typography/index.md
Due: prettier --parser mdx --write

chore(inline-code): make sure inline code doesn’t break between lines
  src/components/inline-code/__snapshots__/inline-code.test.tsx.snap
  src/components/inline-code/inline-code.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: remove gatsby-remark-acronyms
  acronyms.json
  gatsby-config.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(sample): add missing Sample and Variable components mapping to shortcodes
  src/components/sample/__snapshots__/sample.test.tsx.snap
  src/components/sample/sample.styles.tsx
  src/layout/mdx-provider-container/shortcodes.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix: remove extra CSS rule
  src/screens/journal-detail/post/post.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(journal): add articles from 2016
  content/posts/2016/japanese-netflix-tv-show-underwear/index.md
  content/posts/2016/japanese-netflix-tv-show-underwear/netflix-underwear.jpg
  content/posts/2016/jekyll-hugo-migration/index.md
  content/posts/2016/speed-up-videos/index.md
Due: prettier --parser mdx --write

feat(journal): add posts of 2007
  content/posts/2007/domain-hosting/index.md
  content/posts/2007/gtd/gtd-after.jpg
  content/posts/2007/gtd/gtd-before.jpg
  content/posts/2007/gtd/index.md
  content/posts/2007/japanese-colors/index.md
  content/posts/2007/koi-design/design-koi.jpg
  content/posts/2007/koi-design/index.md
  content/posts/2007/koi-design/suikoden-luta.jpg
  content/posts/2019/post-2/index.md
  content/posts/2019/recommendation/index.md
Due: prettier --parser mdx --write

chore(horizontal-rule): change length of divider
  src/components/horizontal-rule/__snapshots__/horizontal-rule.test.tsx.snap
  src/components/horizontal-rule/horizontal-rule.styles.tsx
  src/screens/cv/divider/__snapshots__/divider.test.tsx.snap
  src/screens/journal-detail/footer/__snapshots__/footer.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(journal): add articles from 2018
  content/posts/2018/morning-routine/bed-book-journal.jpg
  content/posts/2018/morning-routine/index.md
  content/posts/2018/post-1/gatsby-astronaut.png
  content/posts/2018/post-1/index.md
  content/posts/2018/storing-information/book-store.jpg
  content/posts/2018/storing-information/index.md
Due: prettier --parser mdx --write
