Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

chore(protected-email): replace email address and public key
  src/components/protected-email/protected-email.test.tsx
  src/components/protected-email/protected-email.tsx
  static/downloads/publickey.hey@imhoff.name-9cb867d4ccd2c1d7d9fde82f4b649797f3e007a9.asc
  static/downloads/publickey.stefan@imhoff.name-1d844c94d6fec7939a9bdaf221ce017ed5fa22c6.asc
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix(about): missing border on left side of photo
  src/screens/about/photo/__snapshots__/photo.test.tsx.snap
  src/screens/about/photo/photo.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(homepage): rewrite a sentence
  src/screens/homepage/what-i-do/__snapshots__/what-i-do.test.tsx.snap
  src/screens/homepage/what-i-do/what-i-do.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(robots.txt): add robots.txt
  gatsby-config.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(sitemap): add sitemap to website
  gatsby-config.js
  package.json
  src/pages/404.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(manifest): add manifest, favicons, theme and background color
  content/assets/images/gatsby-astronaut.png
  content/assets/images/gatsby-icon.png
  content/assets/images/logo/icon.svg
  content/assets/images/logo/logo.png
  content/assets/images/logo/logo.svg
  gatsby-config.js
  src/layout/seo/seo.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(homepage): change more link texts to be more meaningful
  src/screens/homepage/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/homepage/about-me/about-me.tsx
  src/screens/homepage/journal/__snapshots__/journal.test.tsx.snap
  src/screens/homepage/journal/journal.tsx
  src/screens/homepage/what-i-do/__snapshots__/what-i-do.test.tsx.snap
  src/screens/homepage/what-i-do/what-i-do.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(offline): add offline support with ServiceWorker
  gatsby-config.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(rss): add RSS/Atom feed for the website
  gatsby-browser.js
  gatsby-config.js
  gatsby-ssr.js
  package.json
  src/components/flag/__snapshots__/flag.test.tsx.snap
  src/components/flag/flag.styles.tsx
  src/components/flag/flag.tsx
  src/components/flag/netflix-flag/__snapshots__/netflix-flag.test.tsx.snap
  src/components/flag/prime-video-flag/__snapshots__/prime-video-flag.test.tsx.snap
  src/layout/default-layout/layout.tsx
  src/layout/minimal-layout/minimal-layout.tsx
  src/screens/journal-detail/post/post.tsx
  src/screens/showcase/body/body.tsx
  src/screens/sketchnotes/body/body.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(canonical): add canonical urls
  gatsby-config.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(storybook): make sure the site was build before building Storybook
  package.json
Due: prettier --write, jest --findRelatedTests

chore(netlify): add redirect file
  netlify.toml
Due: none

chore(images): change OG images to fixed size and reduze blog post images
  content/posts/2007/gtd/index.md
  content/posts/2007/gtd/og.jpg
  content/posts/2009/gitweb-theme/index.md
  content/posts/2009/gitweb-theme/og.jpg
  content/posts/2020/everyday-carry/index.md
  content/posts/2020/everyday-carry/og.jpg
  gatsby-config.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

chore: change size of arrows and theme toggle to fixed pixel sizes
  src/layout/default-layout/__snapshots__/layout.test.tsx.snap
  src/layout/footer/__snapshots__/footer.test.tsx.snap
  src/layout/header/__snapshots__/header.test.tsx.snap
  src/layout/home-link/__snapshots__/home-link.test.tsx.snap
  src/layout/home-link/home-link.styles.tsx
  src/layout/minimal-layout/__snapshots__/minimal-layout.test.tsx.snap
  src/layout/theme-toggle/__snapshots__/theme-toggle.test.tsx.snap
  src/layout/theme-toggle/theme-toggle.styles.tsx
  src/layout/up-link/__snapshots__/up-link.test.tsx.snap
  src/layout/up-link/up-link.styles.tsx
  src/templates/journal.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix: set size of arrows and theme toggle icons
  src/layout/default-layout/__snapshots__/layout.test.tsx.snap
  src/layout/footer/__snapshots__/footer.test.tsx.snap
  src/layout/header/__snapshots__/header.test.tsx.snap
  src/layout/home-link/__snapshots__/home-link.test.tsx.snap
  src/layout/home-link/home-link.styles.tsx
  src/layout/minimal-layout/__snapshots__/minimal-layout.test.tsx.snap
  src/layout/theme-toggle/__snapshots__/theme-toggle.test.tsx.snap
  src/layout/theme-toggle/theme-toggle.styles.tsx
  src/layout/up-link/__snapshots__/up-link.test.tsx.snap
  src/layout/up-link/up-link.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

perf(webfont): add improved webfont with less size and more features
  content/posts/2019/favorites-2019-10/index.md
  src/pages/styleguide.mdx
  src/screens/haiku/basho/__snapshots__/basho.test.tsx.snap
  src/screens/haiku/basho/basho.tsx
  src/screens/projects/introduction/__snapshots__/introduction.test.tsx.snap
  src/screens/projects/introduction/introduction.tsx
  src/screens/projects/writing/__snapshots__/writing.test.tsx.snap
  src/screens/projects/writing/writing.tsx
  static/fonts/playfairdisplay-black-webfont.woff
  static/fonts/playfairdisplay-black-webfont.woff2
  static/fonts/playfairdisplay-bold-webfont.woff
  static/fonts/playfairdisplay-bold-webfont.woff2
  static/fonts/playfairdisplay-italic-webfont.woff
  static/fonts/playfairdisplay-italic-webfont.woff2
  static/fonts/playfairdisplay-regular-webfont.woff
  static/fonts/playfairdisplay-regular-webfont.woff2
  static/fonts/playfairdisplaysc-regular-webfont.woff
  static/fonts/playfairdisplaysc-regular-webfont.woff2
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

feat(banner): replace temporary banner with final design
  static/banner.png
Due: none

chore(about): add a few more links
  src/screens/about/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/about/about-me/about-me.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: fix a link and change validate script
  package.json
  src/pages/imprint.mdx
Due: prettier --write, jest --findRelatedTests, prettier --parser mdx --write

ci(travis): add Travis configuration
  .travis.yml
Due: none

fix(webfont): re-create font because of missing ligatures
  static/fonts/fonts.css
  static/fonts/playfairdisplay-black-webfont.woff
  static/fonts/playfairdisplay-black-webfont.woff2
  static/fonts/playfairdisplay-bold-webfont.woff
  static/fonts/playfairdisplay-bold-webfont.woff2
  static/fonts/playfairdisplay-italic-webfont.woff
  static/fonts/playfairdisplay-italic-webfont.woff2
  static/fonts/playfairdisplay-regular-webfont.woff
  static/fonts/playfairdisplay-regular-webfont.woff2
  static/fonts/playfairdisplaysc-regular-webfont.woff
  static/fonts/playfairdisplaysc-regular-webfont.woff2
Due: prettier --write, jest --findRelatedTests

fix: small icon buttons on mobile devices
  src/layout/default-layout/__snapshots__/layout.test.tsx.snap
  src/layout/footer/__snapshots__/footer.test.tsx.snap
  src/layout/header/__snapshots__/header.test.tsx.snap
  src/layout/home-link/__snapshots__/home-link.test.tsx.snap
  src/layout/home-link/home-link.styles.tsx
  src/layout/minimal-layout/__snapshots__/minimal-layout.test.tsx.snap
  src/layout/theme-toggle/__snapshots__/theme-toggle.test.tsx.snap
  src/layout/theme-toggle/theme-toggle.styles.tsx
  src/layout/up-link/__snapshots__/up-link.test.tsx.snap
  src/layout/up-link/up-link.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  jest --findRelatedTests: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  prettier --parser mdx --write: any of: *.{mdx,md}
