Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser markdown --write

chore(spacer): add component to MDXProvider
  src/components/MDXProviderContainer/MDXProviderContainer.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(spacer): remove unnecessary imports
  src/components/Spacer/Spacer.styles.tsx
  src/components/Spacer/Spacer.test.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: fix typo
  src/components/Blockquote/Blockquote.stories.tsx
  src/components/Blockquote/__snapshots__/Blockquote.test.tsx.snap
  src/pages/styleguide.mdx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser markdown --write

chore(prettier): change parser to mdx and fix wrong formatting
  .lintstagedrc.json
  src/pages/styleguide.mdx
Due: prettier --write, jest --findRelatedTests, prettier --parser markdown --write

feat(spacer): add component and styling
  src/components/Spacer/Spacer.styles.tsx
  src/components/Spacer/Spacer.tsx
  src/components/Spacer/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(spacer): add stories and tests
  src/components/Spacer/Spacer.stories.tsx
  src/components/Spacer/Spacer.test.tsx
  src/components/Spacer/__snapshots__/Spacer.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(verse): add component and styling
  src/components/Verse/Verse.styles.tsx
  src/components/Verse/Verse.tsx
  src/components/Verse/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(verse): add stories and tests
  src/components/Verse/Verse.stories.tsx
  src/components/Verse/Verse.test.tsx
  src/components/Verse/__snapshots__/Verse.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(verse): add component to MDXProvider
  src/components/MDXProviderContainer/MDXProviderContainer.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(styleguide): add Verse to styleguide
  src/pages/styleguide.mdx
Due: prettier --parser markdown --write

chore(storybook): move Verse into Quotation group
  src/components/Verse/Verse.stories.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(footnote): add styling for Markdown footnotes
  src/components/Layout/styles/global.css
  src/pages/styleguide.mdx
Due: prettier --write, jest --findRelatedTests, prettier --parser markdown --write

chore(npm): update patch level packages
  package.json
  yarn.lock
Due: prettier --write, jest --findRelatedTests

test(emojify): fix warning in test
  src/components/Emojify/Emojify.test.tsx
  src/components/Emojify/__snapshots__/Emojify.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(npm): update minor level packages
  package.json
  yarn.lock
Due: prettier --write, jest --findRelatedTests

chore(npm): update major level development dependency packages
  package.json
  yarn.lock
Due: prettier --write, jest --findRelatedTests

chore(npm): upgrade react-helmet
  package.json
  src/components/SEO/SEO.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: remove gatsby-plugin-react-axe
  gatsby-config.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(npm): upgrade to gatsby-remark-vscode v2
  .gitmodules
  gatsby-config.js
  package.json
  src/components/Layout/styles/highlight-code-line.css
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

change settings of gatsby-remark-images
  content/posts/2018/post-1/index.md
  gatsby-config.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser markdown --write

chore: add script to preoptimize images
  package.json
  scripts/optimize.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(image): change demo image component
  src/components/Image/Image.tsx
  src/pages/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: remove markdown captions option
  content/posts/2018/post-1/index.md
  gatsby-config.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser markdown --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  jest --findRelatedTests: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  prettier --parser markdown --write: any of: *.{mdx,md}
