Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "stylelint --fix"],
  "*.{js,jsx,ts,tsx,css,d.ts,json}": [
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.{mdx,md}": ["prettier --parser mdx --write"]
}

feat(article): Best of 2020
  content/posts/2020/best-of-2020/cover.jpg
  content/posts/2020/best-of-2020/index.md
  content/posts/2020/best-of-2020/og.jpg
  content/posts/2020/favorites-2020-11/index.md
Due: prettier --parser mdx --write

chore: remove unused CSS
  src/components/text-link/text-link.styles.tsx
  src/components/text-link/text-link.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(article): december 2020 Favorites
  content/posts/2020/favorites-2020-12/cover.jpg
  content/posts/2020/favorites-2020-12/index.md
  content/posts/2020/favorites-2020-12/og.jpg
Due: prettier --parser mdx --write

chore(article): add link to new article and add CSS file for download
  content/posts/2020/zettelkasten-note-taking-devonthink/index.md
  static/downloads/MarkdownDefault.css
Due: prettier --write, jest --findRelatedTests, prettier --parser mdx --write

feat(about): add XMPP and Session to contact information
  content/data/social-media.yml
  static/downloads/session-id.txt
Due: none

chore: update maintenance status
  README.md
Due: prettier --parser mdx --write

chore: improve titles of Gulp articles
  content/posts/2014/gulp-tutorial-1-intro-setup/index.md
  content/posts/2014/gulp-tutorial-10-generating-sprites/index.md
  content/posts/2014/gulp-tutorial-11-production-build-server-and-jekyll/index.md
  content/posts/2014/gulp-tutorial-12-optimize-css-javascript-images-and-html/index.md
  content/posts/2014/gulp-tutorial-13-revisioning/index.md
  content/posts/2014/gulp-tutorial-14-deploying-the-website/index.md
  content/posts/2014/gulp-tutorial-15-performance-improvements-webp-gzip/index.md
  content/posts/2014/gulp-tutorial-2-development-server-browsersync-configuration/index.md
  content/posts/2014/gulp-tutorial-3-build-clean-jekyll/index.md
  content/posts/2014/gulp-tutorial-4-css-generation-sass/index.md
  content/posts/2014/gulp-tutorial-5-javascripts-browserify/index.md
  content/posts/2014/gulp-tutorial-6-images-vector-fonts/index.md
  content/posts/2014/gulp-tutorial-7-base64/index.md
  content/posts/2014/gulp-tutorial-8-watch/index.md
  content/posts/2014/gulp-tutorial-9-linting-scss-and-javascript/index.md
  content/posts/2015/gulp-tutorial-16-postcss/index.md
Due: prettier --parser mdx --write

fix: typos and improve sentences
  content/posts/2020/best-of-2020/index.md
  content/posts/2020/favorites-2020-09/index.md
  content/posts/2020/favorites-2020-11/index.md
Due: prettier --parser mdx --write

chore(about): add Gab and Parler profiles
  content/data/social-media.yml
Due: none

fix: move link into box
  src/screens/homepage/what-i-do/__snapshots__/what-i-do.test.tsx.snap
  src/screens/homepage/what-i-do/what-i-do.styles.tsx
  src/screens/homepage/what-i-do/what-i-do.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix: change author of quote to the original source
  content/posts/2019/favorites-2019-08/index.md
  content/posts/2019/favorites-2019-09/index.md
  content/posts/2019/favorites-2019-10/index.md
  content/posts/2019/favorites-2019-11/index.md
  content/posts/2019/favorites-2019-12/index.md
  content/posts/2020/favorites-2020-01/index.md
  content/posts/2020/favorites-2020-02/index.md
  content/posts/2020/favorites-2020-03/index.md
  content/posts/2020/favorites-2020-04/index.md
  content/posts/2020/favorites-2020-05/index.md
  content/posts/2020/favorites-2020-06/index.md
  content/posts/2020/favorites-2020-07/index.md
  content/posts/2020/favorites-2020-08/index.md
  content/posts/2020/favorites-2020-09/index.md
  content/posts/2020/favorites-2020-10/index.md
  content/posts/2020/favorites-2020-11/index.md
  content/posts/2020/favorites-2020-12/index.md
  src/components/blockquote/__snapshots__/blockquote.test.tsx.snap
  src/components/blockquote/blockquote.styles.tsx
  src/layout/default-layout/__snapshots__/layout.test.tsx.snap
  src/screens/about/connect/__snapshots__/connect.test.tsx.snap
  src/screens/homepage/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/homepage/journal/__snapshots__/journal.test.tsx.snap
  src/screens/homepage/what-i-do/__snapshots__/what-i-do.test.tsx.snap
  src/screens/journal/all-posts/__snapshots__/all-posts.test.tsx.snap
  src/screens/journal/monthly/__snapshots__/monthly.test.tsx.snap
  src/screens/projects/book-kogakure/__snapshots__/book-kogakure.test.tsx.snap
  src/screens/projects/hamburg-blog/__snapshots__/hamburg-blog.test.tsx.snap
  src/screens/projects/iga-ninja-font/__snapshots__/iga-ninja-font.test.tsx.snap
  src/screens/projects/japanese-color/__snapshots__/japanese-color.test.tsx.snap
  src/screens/projects/martial-arts-website/__snapshots__/martial-arts-website.test.tsx.snap
  src/screens/projects/osteopathie-hamburg/__snapshots__/osteopathie-hamburg.test.tsx.snap
  src/screens/projects/sketchnotes/__snapshots__/sketchnotes.test.tsx.snap
  src/screens/projects/stefanimhoff-v2/__snapshots__/stefanimhoff-v2.test.tsx.snap
  src/screens/projects/thai-restaurant/__snapshots__/thai-restaurant.test.tsx.snap
  src/screens/projects/writing/__snapshots__/writing.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

chore: add Minds link
  content/data/social-media.yml
Due: none

feat(about): reorder the contact and connect sections and content
  content/data/social-media.yml
  src/screens/about/connect/__snapshots__/connect.test.tsx.snap
  src/screens/about/connect/connect.styles.tsx
  src/screens/about/contact/__snapshots__/contact.test.tsx.snap
  src/screens/about/contact/contact.styles.tsx
  src/screens/about/contact/contact.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: remove content I can’t no longer recommend
  content/posts/2020/best-of-2020/index.md
  content/posts/2020/favorites-2020-09/index.md
Due: prettier --parser mdx --write

chore(now): update page
  src/pages/now.md
Due: prettier --parser mdx --write

chore: replace Twitter link with Minds
  content/data/social-media.yml
  src/screens/homepage/journal/__snapshots__/journal.test.tsx.snap
  src/screens/homepage/journal/journal.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: update wording of link
  src/screens/about/contact/__snapshots__/contact.test.tsx.snap
  src/screens/about/contact/contact.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix: problem with SVG images in Markdown
  gatsby-config.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix(article): typo and replace VPN provider
  content/posts/2020/apps-tools-services/index.md
Due: prettier --parser mdx --write

chore(cv): add more tools and fix typo
  content/data/cv.yml
  src/screens/homepage/what-i-do/__snapshots__/what-i-do.test.tsx.snap
  src/screens/homepage/what-i-do/what-i-do.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat: add Telegram contact data
  src/screens/about/contact/__snapshots__/contact.test.tsx.snap
  src/screens/about/contact/contact.tsx
  src/screens/homepage/journal/__snapshots__/journal.test.tsx.snap
  src/screens/homepage/journal/journal.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: add/remove some tool recommendations
  content/posts/2020/apps-tools-services/index.md
  src/screens/homepage/journal/__snapshots__/journal.test.tsx.snap
  src/screens/homepage/journal/journal.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

feat(article): new article January 2021 Favorites
  content/posts/2021/favorites-2021-01/index.md
Due: prettier --parser mdx --write

fix(inline-code): allow line-break of long code examples
  src/components/inline-code/__snapshots__/inline-code.test.tsx.snap
  src/components/inline-code/inline-code.styles.tsx
  src/screens/about/connect/__snapshots__/connect.test.tsx.snap
  src/screens/homepage/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/homepage/journal/__snapshots__/journal.test.tsx.snap
  src/screens/homepage/what-i-do/__snapshots__/what-i-do.test.tsx.snap
  src/screens/journal/all-posts/__snapshots__/all-posts.test.tsx.snap
  src/screens/journal/monthly/__snapshots__/monthly.test.tsx.snap
  src/screens/projects/book-kogakure/__snapshots__/book-kogakure.test.tsx.snap
  src/screens/projects/hamburg-blog/__snapshots__/hamburg-blog.test.tsx.snap
  src/screens/projects/iga-ninja-font/__snapshots__/iga-ninja-font.test.tsx.snap
  src/screens/projects/japanese-color/__snapshots__/japanese-color.test.tsx.snap
  src/screens/projects/martial-arts-website/__snapshots__/martial-arts-website.test.tsx.snap
  src/screens/projects/osteopathie-hamburg/__snapshots__/osteopathie-hamburg.test.tsx.snap
  src/screens/projects/sketchnotes/__snapshots__/sketchnotes.test.tsx.snap
  src/screens/projects/stefanimhoff-v2/__snapshots__/stefanimhoff-v2.test.tsx.snap
  src/screens/projects/thai-restaurant/__snapshots__/thai-restaurant.test.tsx.snap
  src/screens/projects/writing/__snapshots__/writing.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(article): new article February 2021 Favorites
  content/posts/2021/favorites-2021-02/index.md
Due: prettier --parser mdx --write

feat(article): How I Made My Phone Boring Again
  content/posts/2021/boring-phone/index.md
Due: prettier --parser mdx --write

chore: remove outline of emojify button
  src/layout/emojify-toggle/__snapshots__/emojify-toggle.test.tsx.snap
  src/layout/emojify-toggle/emojify-toggle.styles.tsx
  src/layout/emojify/__snapshots__/emojify.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix: missing video streaming flag
  content/posts/2021/favorites-2021-02/index.md
Due: prettier --parser mdx --write

chore: fix text
  content/posts/2021/boring-phone/index.md
Due: prettier --parser mdx --write

feat: rename monthly recommendations to links
  content/posts/2019/favorites-2019-08/index.md
  content/posts/2019/favorites-2019-09/index.md
  content/posts/2019/favorites-2019-10/index.md
  content/posts/2019/favorites-2019-11/index.md
  content/posts/2019/favorites-2019-12/index.md
  content/posts/2020/favorites-2020-01/index.md
  content/posts/2020/favorites-2020-02/index.md
  content/posts/2020/favorites-2020-03/index.md
  content/posts/2020/favorites-2020-04/index.md
  content/posts/2020/favorites-2020-05/index.md
  content/posts/2020/favorites-2020-06/index.md
  content/posts/2020/favorites-2020-07/index.md
  content/posts/2020/favorites-2020-08/index.md
  content/posts/2020/favorites-2020-09/index.md
  content/posts/2020/favorites-2020-10/index.md
  content/posts/2020/favorites-2020-11/index.md
  content/posts/2020/favorites-2020-12/index.md
  content/posts/2021/favorites-2021-01/index.md
  content/posts/2021/favorites-2021-02/index.md
  scripts/templates/journal/index.md.txt
  src/hooks/index.ts
  src/hooks/use-all-journal-posts-query.ts
  src/hooks/use-link-posts-query.ts
  src/hooks/use-monthly-journal-posts-query.ts
  src/pages/journal.tsx
  src/screens/journal/index.ts
  src/screens/journal/links/__snapshots__/links.test.tsx.snap
  src/screens/journal/links/index.ts
  src/screens/journal/links/links.styles.tsx
  src/screens/journal/links/links.test.tsx
  src/screens/journal/links/links.tsx
  src/screens/journal/monthly/index.ts
  src/typings/graphql/monthly-journal-posts.d.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

chore(plop): update template
  plopfile.js
  scripts/templates/journal/index.md.txt
  scripts/templates/link/index.md.txt
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(article): March 2021 Favorites
  content/posts/2021/favorites-2021-03/index.md
Due: prettier --parser mdx --write

feat: add quote about Wokeness
  content/posts/2021/wokeness-is-just-facism/index.md
  src/screens/homepage/what-i-do/what-i-do.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

fix: typo in page title
  src/pages/traditional-colors-of-japan.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: update maintenance information
  README.md
Due: prettier --parser mdx --write
