Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser markdown --write

feat(blockquote): add basic variants without styling
  src/components/Blockquote/Blockquote.styles.tsx
  src/components/Blockquote/Blockquote.tsx
  src/components/Blockquote/index.ts
  src/components/TextLink/TextLink.tsx
  src/components/TextLink/__snapshots__/TextLink.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(blockquote): add snapshot tests and stories
  src/components/Blockquote/Blockquote.stories.tsx
  src/components/Blockquote/Blockquote.test.tsx
  src/components/Blockquote/__snapshots__/Blockquote.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(mdx-provider): add Blockquote component to MDX Provider
  src/components/MDXProviderContainer/MDXProviderContainer.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

docs(blockquote): add examples to Styleguide
  src/pages/styleguide.mdx
Due: prettier --parser markdown --write

feat(blockquote): add styling for component and update tests
  src/components/Blockquote/Blockquote.stories.tsx
  src/components/Blockquote/Blockquote.styles.tsx
  src/components/Blockquote/Blockquote.test.tsx
  src/components/Blockquote/Blockquote.tsx
  src/components/Blockquote/__snapshots__/Blockquote.test.tsx.snap
  src/components/Layout/GlobalStyles.ts
  src/components/Layout/styles/global.css
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

docs(styleguide): add blockquote examples
  src/pages/styleguide.mdx
Due: prettier --parser markdown --write

chore(storybook): fix grid of storybook container
  .storybook/preview.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(unordered-list): change styling of list-items to a more minimal style
  src/components/Layout/styles/global.css
  src/components/UnorderedList/UnorderedList.styles.tsx
  src/components/UnorderedList/__snapshots__/UnorderedList.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(inline-quote): add component and styling
  src/components/InlineQuote/InlineQuote.styles.tsx
  src/components/InlineQuote/InlineQuote.tsx
  src/components/InlineQuote/index.ts
  src/components/Layout/styles/global.css
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(inline-quote): add stories and tests
  src/components/InlineQuote/InlineQuote.stories.tsx
  src/components/InlineQuote/InlineQuote.test.tsx
  src/components/InlineQuote/__snapshots__/InlineQuote.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(inline-quote): add component to MDXProvider
  src/components/MDXProviderContainer/MDXProviderContainer.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

docs(styleguide): add InlineQuote to styleguide
  src/pages/styleguide.mdx
Due: prettier --parser markdown --write

chore(prettier): upgrade to 2.0.2
  package.json
  yarn.lock
Due: prettier --write, jest --findRelatedTests

chore(prettier): run format with new prettier version
  .storybook/preview.js
  gatsby-config.js
  plopfile.js
  src/components/ColorSwatch/ColorSwatch.tsx
  src/components/Spoiler/Spoiler.tsx
  src/utils/theme.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(storyboard): move quotations in group folder
  src/components/Blockquote/Blockquote.stories.tsx
  src/components/InlineQuote/InlineQuote.stories.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(pullquote): add component and styling
  src/components/Pullquote/Pullquote.styles.tsx
  src/components/Pullquote/Pullquote.tsx
  src/components/Pullquote/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(pullquote): add stories and tests
  src/components/Pullquote/Pullquote.stories.tsx
  src/components/Pullquote/Pullquote.test.tsx
  src/components/Pullquote/__snapshots__/Pullquote.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(pullquote): add component to MDXProvider
  src/components/MDXProviderContainer/MDXProviderContainer.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

docs(styleguide): add Pullquote to styleguide
  src/pages/styleguide.mdx
Due: prettier --parser markdown --write

feat(spacer): add component and styling
  src/components/Spacer/Spacer.styles.tsx
  src/components/Spacer/Spacer.tsx
  src/components/Spacer/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(spacer): add stories and tests
  src/components/Spacer/Spacer.stories.tsx
  src/components/Spacer/Spacer.test.tsx
  src/components/Spacer/__snapshots__/Spacer.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  jest --findRelatedTests: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  prettier --parser markdown --write: any of: *.{mdx,md}
