Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "stylelint --fix"],
  "*.{js,jsx,ts,tsx,css,d.ts,json}": [
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.{mdx,md}": ["prettier --parser mdx --write"]
}

chore(styleguide): remove one example of ColorSwatch to better fit the column
  src/pages/styleguide.mdx
Due: prettier --parser mdx --write

feat(traditional-colors-of-japan): add page with title and color swatches
  content/data/japanese-color.yml
  src/components/color-swatch/color-swatch.styles.tsx
  src/hooks/index.ts
  src/hooks/use-japanese-color-query.ts
  src/pages/traditional-colors-of-japan.tsx
  src/screens/traditional-colors-of-japan/color-grid/__snapshots__/color-grid.test.tsx.snap
  src/screens/traditional-colors-of-japan/color-grid/color-grid.styles.tsx
  src/screens/traditional-colors-of-japan/color-grid/color-grid.test.tsx
  src/screens/traditional-colors-of-japan/color-grid/color-grid.tsx
  src/screens/traditional-colors-of-japan/color-grid/index.ts
  src/screens/traditional-colors-of-japan/index.ts
  src/screens/traditional-colors-of-japan/title/__snapshots__/title.test.tsx.snap
  src/screens/traditional-colors-of-japan/title/index.ts
  src/screens/traditional-colors-of-japan/title/title.styles.tsx
  src/screens/traditional-colors-of-japan/title/title.test.tsx
  src/screens/traditional-colors-of-japan/title/title.tsx
  src/typings/graphql/index.ts
  src/typings/graphql/japanese-color-item.d.ts
  src/typings/graphql/japanese-color-query-data.d.ts
  src/typings/graphql/japanese-color.d.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(styleguide): add missing examples and code examples for Book and AmazonBook
  src/pages/styleguide.mdx
Due: prettier --parser mdx --write

feat(more-link): create own component for more link
  src/components/more-link/__snapshots__/more-link.test.tsx.snap
  src/components/more-link/index.ts
  src/components/more-link/more-link.stories.tsx
  src/components/more-link/more-link.test.tsx
  src/components/more-link/more-link.tsx
  src/layout/mdx-provider-container/shortcodes.tsx
  src/pages/styleguide.mdx
  src/screens/homepage/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/homepage/about-me/about-me.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

feat(icon-link): extract icon functionality into own component
  src/components/icon-link/__snapshots__/icon-link.test.tsx.snap
  src/components/icon-link/icon-link.stories.tsx
  src/components/icon-link/icon-link.styles.tsx
  src/components/icon-link/icon-link.test.tsx
  src/components/icon-link/icon-link.tsx
  src/components/icon-link/index.ts
  src/components/text-link/text-link.tsx
  src/layout/mdx-provider-container/shortcodes.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: add comment for issue
  gatsby-browser.js
  gatsby-ssr.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor: allow IconLink to have animations
  src/components/download-link/__snapshots__/download-link.test.tsx.snap
  src/components/download-link/download-link.tsx
  src/components/icon-link/__snapshots__/icon-link.test.tsx.snap
  src/components/icon-link/icon-link.styles.tsx
  src/components/icon-link/icon-link.tsx
  src/components/more-link/__snapshots__/more-link.test.tsx.snap
  src/components/more-link/more-link.tsx
  src/pages/styleguide.mdx
  src/screens/homepage/about-me/__snapshots__/about-me.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

chore: add download for Adobe Swatch Exchange (ASE) file for Japanese Colors of Japan
  static/downloads/traditional-colors-of-japan-rgb.zip
Due: none

feat(amazon-book): add an AmazonBook component
  src/components/amazon-book/__snapshots__/amazon-book.test.tsx.snap
  src/components/amazon-book/amazon-book.stories.tsx
  src/components/amazon-book/amazon-book.test.tsx
  src/components/amazon-book/amazon-book.tsx
  src/components/amazon-book/index.ts
  src/layout/mdx-provider-container/shortcodes.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(traditional-colors-of-japan): add introduction paragraph with download link and book cover
  src/pages/traditional-colors-of-japan.tsx
  src/screens/traditional-colors-of-japan/book/__snapshots__/book.test.tsx.snap
  src/screens/traditional-colors-of-japan/book/book.styles.tsx
  src/screens/traditional-colors-of-japan/book/book.test.tsx
  src/screens/traditional-colors-of-japan/book/book.tsx
  src/screens/traditional-colors-of-japan/book/index.ts
  src/screens/traditional-colors-of-japan/index.ts
  src/screens/traditional-colors-of-japan/introduction/__snapshots__/introduction.test.tsx.snap
  src/screens/traditional-colors-of-japan/introduction/index.ts
  src/screens/traditional-colors-of-japan/introduction/introduction.styles.tsx
  src/screens/traditional-colors-of-japan/introduction/introduction.test.tsx
  src/screens/traditional-colors-of-japan/introduction/introduction.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(download-link): create own component for download link
  src/components/download-link/__snapshots__/download-link.test.tsx.snap
  src/components/download-link/download-link.stories.tsx
  src/components/download-link/download-link.test.tsx
  src/components/download-link/download-link.tsx
  src/components/download-link/index.ts
  src/components/icons/__snapshots__/icons.test.tsx.snap
  src/components/icons/download.stories.tsx
  src/components/icons/download.tsx
  src/components/icons/icons.test.tsx
  src/components/icons/index.tsx
  src/components/icons/svg/download.svg
  src/layout/mdx-provider-container/shortcodes.tsx
  src/pages/styleguide.mdx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

feat(book): add new component to display books
  src/components/book/__snapshots__/book.test.tsx.snap
  src/components/book/book.stories.tsx
  src/components/book/book.styles.tsx
  src/components/book/book.test.tsx
  src/components/book/book.tsx
  src/components/book/index.ts
  src/components/book/mock/book.jpg
  src/layout/mdx-provider-container/shortcodes.tsx
  src/pages/styleguide.mdx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

refactor(graphql): reduce the amount of definition files
  src/typings/graphql/index.ts
  src/typings/graphql/japanese-color-item.d.ts
  src/typings/graphql/japanese-color-query-data.d.ts
  src/typings/graphql/japanese-color.d.ts
  src/typings/graphql/layout-query-data.d.ts
  src/typings/graphql/layout.d.ts
  src/typings/graphql/navigation-item.d.ts
  src/typings/graphql/navigation-query-data.d.ts
  src/typings/graphql/navigation.d.ts
  src/typings/graphql/post.d.ts
  src/typings/graphql/posts-query.d.ts
  src/typings/graphql/posts.d.ts
  src/typings/graphql/site-metadata-query-data.d.ts
  src/typings/graphql/site-metadata.d.ts
  src/typings/graphql/social-media-item.d.ts
  src/typings/graphql/social-media-query-data.d.ts
  src/typings/graphql/social-media.d.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix(traditional-colors-of-japan): typo
  src/screens/traditional-colors-of-japan/book/__snapshots__/book.test.tsx.snap
  src/screens/traditional-colors-of-japan/book/book.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(cv): add data file and print content to page
  content/data/cv.yml
  src/hooks/index.ts
  src/hooks/use-cv-query.ts
  src/pages/cv.tsx
  src/typings/graphql/cv.d.ts
  src/typings/graphql/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(amazon-book): add missing test case
  src/components/amazon-book/__snapshots__/amazon-book.test.tsx.snap
  src/components/amazon-book/amazon-book.stories.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(book): add missing test case
  src/components/book/__snapshots__/book.test.tsx.snap
  src/components/book/book.stories.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(column): add missing test case
  src/layout/column/__snapshots__/column.test.tsx.snap
  src/layout/column/column.stories.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(content-grid): add missing test case
  src/layout/content-grid/__snapshots__/content-grid.test.tsx.snap
  src/layout/content-grid/content-grid.stories.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: delete demo pages
  src/pages/page-2.tsx
  src/pages/page-markdown.md
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

chore: replace separator with slash
  src/layout/footer/__snapshots__/footer.test.tsx.snap
  src/layout/legal-information/__snapshots__/legal-information.test.tsx.snap
  src/layout/legal-information/legal-information.tsx
  src/screens/cv/education/__snapshots__/education.test.tsx.snap
  src/screens/cv/education/education.styles.tsx
  src/screens/cv/education/education.tsx
  src/screens/cv/experience/__snapshots__/experience.test.tsx.snap
  src/screens/cv/experience/experience.styles.tsx
  src/screens/cv/experience/experience.tsx
  src/screens/homepage/title/__snapshots__/title.test.tsx.snap
  src/screens/homepage/title/title.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(cv): add CV and VCard as downloads
  src/screens/cv/personal/__snapshots__/personal.test.tsx.snap
  src/screens/cv/personal/personal.tsx
  static/downloads/business-card-stefan-imhoff.zip
  static/downloads/cv-stefan-imhoff.zip
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(haiku): add haiku as yaml data file
  content/data/haiku.yml
Due: none

chore: add noMargin option to list components
  src/components/ordered-list/ordered-list.styles.tsx
  src/components/ordered-list/ordered-list.tsx
  src/components/unordered-list/__snapshots__/unordered-list.test.tsx.snap
  src/components/unordered-list/unordered-list.stories.tsx
  src/components/unordered-list/unordered-list.styles.tsx
  src/components/unordered-list/unordered-list.test.tsx
  src/components/unordered-list/unordered-list.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: remove exports from style files
  src/screens/404/haiku/haiku.styles.tsx
  src/screens/404/huge-404/huge-404.styles.tsx
  src/screens/404/title/title.styles.tsx
  src/screens/about/about-me/about-me.styles.tsx
  src/screens/about/about-website/about-website.styles.tsx
  src/screens/about/connect/connect.styles.tsx
  src/screens/about/contact/contact.styles.tsx
  src/screens/about/photo/photo.styles.tsx
  src/screens/about/title/title.styles.tsx
  src/screens/cv/divider/divider.styles.tsx
  src/screens/cv/main-column/main-column.styles.tsx
  src/screens/cv/personal/personal.styles.tsx
  src/screens/cv/side-column/side-column.styles.tsx
  src/screens/cv/summary/summary.styles.tsx
  src/screens/cv/title/title.styles.tsx
  src/screens/homepage/about-me/about-me.styles.tsx
  src/screens/homepage/cover-image/cover-image.styles.tsx
  src/screens/homepage/title/title.styles.tsx
  src/screens/homepage/what-i-do/__snapshots__/what-i-do.test.tsx.snap
  src/screens/homepage/what-i-do/what-i-do.styles.tsx
  src/screens/homepage/what-i-do/what-i-do.tsx
  src/screens/traditional-colors-of-japan/book/book.styles.tsx
  src/screens/traditional-colors-of-japan/color-grid/color-grid.styles.tsx
  src/screens/traditional-colors-of-japan/introduction/introduction.styles.tsx
  src/screens/traditional-colors-of-japan/title/title.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(haiku): add content for the Haiku index page
  content/assets/images/bonsai.jpg
  content/assets/images/forest.jpg
  content/data/haiku.yml
  src/layout/global-styles.ts
  src/layout/tokens/colors.ts
  src/pages/haiku.tsx
  src/pages/imprint.mdx
  src/screens/haiku/basho/__snapshots__/basho.test.tsx.snap
  src/screens/haiku/basho/basho.styles.tsx
  src/screens/haiku/basho/basho.test.tsx
  src/screens/haiku/basho/basho.tsx
  src/screens/haiku/basho/index.ts
  src/screens/haiku/books/__snapshots__/books.test.tsx.snap
  src/screens/haiku/books/books.styles.tsx
  src/screens/haiku/books/books.test.tsx
  src/screens/haiku/books/books.tsx
  src/screens/haiku/books/index.ts
  src/screens/haiku/haiku-image/__snapshots__/haiku-image.test.tsx.snap
  src/screens/haiku/haiku-image/forest-image.tsx
  src/screens/haiku/haiku-image/haiku-image.styles.tsx
  src/screens/haiku/haiku-image/haiku-image.test.tsx
  src/screens/haiku/haiku-image/haiku-image.tsx
  src/screens/haiku/haiku-image/index.ts
  src/screens/haiku/index.ts
  src/screens/haiku/introduction/__snapshots__/introduction.test.tsx.snap
  src/screens/haiku/introduction/index.ts
  src/screens/haiku/introduction/introduction.styles.tsx
  src/screens/haiku/introduction/introduction.test.tsx
  src/screens/haiku/introduction/introduction.tsx
  src/screens/haiku/my-haiku/__snapshots__/my-haiku.test.tsx.snap
  src/screens/haiku/my-haiku/index.ts
  src/screens/haiku/my-haiku/my-haiku.styles.tsx
  src/screens/haiku/my-haiku/my-haiku.test.tsx
  src/screens/haiku/my-haiku/my-haiku.tsx
  src/screens/haiku/title/__snapshots__/title.test.tsx.snap
  src/screens/haiku/title/index.ts
  src/screens/haiku/title/title.styles.tsx
  src/screens/haiku/title/title.test.tsx
  src/screens/haiku/title/title.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

feat(haiku): create Haiku detail pages and add content
  content/data/haiku.yml
  gatsby-node.js
  src/hooks/index.ts
  src/hooks/use-haiku-query.ts
  src/screens/haiku/my-haiku/__snapshots__/my-haiku.test.tsx.snap
  src/screens/haiku/my-haiku/my-haiku.test.tsx
  src/screens/haiku/my-haiku/my-haiku.tsx
  src/templates/haiku.tsx
  src/typings/graphql/haiku-page-context.d.ts
  src/typings/graphql/haiku.d.ts
  src/typings/graphql/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(layout): move default layout into separate folder
  src/layout/content-grid/content-grid.tsx
  src/layout/default-layout/__snapshots__/layout.test.tsx.snap
  src/layout/default-layout/index.ts
  src/layout/default-layout/layout.test.tsx
  src/layout/default-layout/layout.tsx
  src/layout/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(tokens): add new color value for Haiku detail pages
  src/layout/global-styles.ts
  src/layout/tokens/colors.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests
