Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

fix(showcase): alignment of showcase images
  content/showcases/koi-illustration/index.md
  content/showcases/xing-onboarding-illustrations/index.md
Due: prettier --parser mdx --write

fix(horizontal-rule): width of component
  src/components/horizontal-rule/__snapshots__/horizontal-rule.test.tsx.snap
  src/components/horizontal-rule/horizontal-rule.styles.tsx
  src/screens/cv/divider/__snapshots__/divider.test.tsx.snap
  src/screens/journal-detail/footer/__snapshots__/footer.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(deps): add renovate.json
  renovate.json
Due: prettier --write, jest --findRelatedTests

chore(deps): update renovate.json with custom settings
  renovate.json
Due: prettier --write, jest --findRelatedTests

fix(book): bug in Safari that stretched the books
  src/components/amazon-book/__snapshots__/amazon-book.test.tsx.snap
  src/components/book/__snapshots__/book.test.tsx.snap
  src/components/book/book.styles.tsx
  src/screens/haiku/books/__snapshots__/books.test.tsx.snap
  src/screens/haiku/books/books.tsx
  src/screens/traditional-colors-of-japan/books/__snapshots__/books.test.tsx.snap
  src/screens/traditional-colors-of-japan/books/books.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(article): add article "New Website 2020"
  content/posts/2020/new-website-2020/colors-of-japan.jpg
  content/posts/2020/new-website-2020/haiku.jpg
  content/posts/2020/new-website-2020/homepage-dark.jpg
  content/posts/2020/new-website-2020/homepage-light.jpg
  content/posts/2020/new-website-2020/index.md
  content/posts/2020/new-website-2020/og.jpg
  package.json
  scripts/templates/journal/index.md.txt
  src/components/horizontal-rule/__snapshots__/horizontal-rule.test.tsx.snap
  src/components/horizontal-rule/horizontal-rule.styles.tsx
  src/screens/about/about-me/about-me.tsx
  src/screens/journal-detail/footer/__snapshots__/footer.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

feat(spoiler): add spoiler text to component for RSS feed
  src/components/spoiler/__snapshots__/spoiler.test.tsx.snap
  src/components/spoiler/spoiler.styles.tsx
  src/components/spoiler/spoiler.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: rename Markdown files
  content/posts/2020/new-website-2020/index.md
  src/pages/imprint.md
  src/pages/now.md
  src/pages/styleguide.md
Due: prettier --parser mdx --write

fix(code-block): on tablet size
  src/layout/styles/global.css
Due: prettier --write, jest --findRelatedTests

fix: backlinks of Haiku and CV page
  src/pages/cv.tsx
  src/pages/haiku.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix: duplicate CSS rule
  src/components/horizontal-rule/__snapshots__/horizontal-rule.test.tsx.snap
  src/components/horizontal-rule/horizontal-rule.styles.tsx
  src/screens/journal-detail/footer/__snapshots__/footer.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix(about): missing words and add link
  src/screens/about/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/about/about-me/about-me.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix(article): add missing meta description
  content/posts/2020/new-website-2020/index.md
  scripts/templates/journal/index.md.txt
Due: prettier --parser mdx --write

ci(codecov): add script to upload coverage report
  .travis.yml
Due: none

fix: try changing the type to get rid of weird graphql bug
  package.json
  src/typings/graphql/post.d.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix: try adding custom schema for cover and og images
  gatsby-node.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: add gatsby-remark-relative-images
  gatsby-config.js
  gatsby-node.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix(text): typo
  content/posts/2020/new-website-2020/index.md
Due: prettier --parser mdx --write

chore(readme): update link to styleguide
  README.md
Due: prettier --parser mdx --write

fix(text): typo
  src/screens/homepage/what-i-do/__snapshots__/what-i-do.test.tsx.snap
  src/screens/homepage/what-i-do/what-i-do.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(text): update text to reflect reality
  content/posts/2020/new-website-2020/index.md
Due: prettier --parser mdx --write

fix(emojify-toggle): line-height issue on mobile devices cutting of the button
  src/layout/emojify-toggle/__snapshots__/emojify-toggle.test.tsx.snap
  src/layout/emojify-toggle/emojify-toggle.styles.tsx
  src/layout/emojify/__snapshots__/emojify.test.tsx.snap
  src/pages/imprint.md
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

fix(dark-mode): reduce whiteness of font in dark mode to make it more readable
  src/layout/tokens/colors.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(article): add article "New Website 2020: Inspiration"
  content/posts/2019/favorites-2019-10/index.md
  content/posts/2020/new-website-2020-inspiration/cover.jpg
  content/posts/2020/new-website-2020-inspiration/index.md
  content/posts/2020/new-website-2020/index.md
  src/pages/now.md
  src/pages/styleguide.md
Due: prettier --parser mdx --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  jest --findRelatedTests: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  prettier --parser mdx --write: any of: *.{mdx,md}
