Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser markdown --write

feat(typography): add typographic scale, Title, Headline, Subline and Paragraph components
  gatsby-config.js
  src/components/ColorSwatch/ColorSwatch.styles.tsx
  src/components/ColorSwatch/__snapshots__/ColorSwatch.test.tsx.snap
  src/components/Layout/styles/global.css
  src/components/MDXProviderContainer/MDXProviderContainer.tsx
  src/components/Typography/Typography.tsx
  src/pages/index.tsx
  src/pages/page-markdown.md
  src/pages/styleguide.mdx
  src/themes/tokens/typographicScale.ts
  static/fonts/fonts.css
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser markdown --write

chore(theme): add tokens for line-height and space and add to base components
  src/components/Layout/GlobalStyles.ts
  src/components/Typography/DynamicComponent.tsx
  src/components/Typography/Typography.tsx
  src/components/Typography/__snapshots__/Typography.test.tsx.snap
  src/themes/index.ts
  src/themes/tokens/index.ts
  src/themes/tokens/space.ts
  src/typings/StyleSystem.d.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(web-font): add Playfair Display and Playfair Display SC
  static/fonts/fonts.css
  static/fonts/playfairdisplay-black-webfont.ttf
  static/fonts/playfairdisplay-black-webfont.woff
  static/fonts/playfairdisplay-black-webfont.woff2
  static/fonts/playfairdisplay-bold-webfont.ttf
  static/fonts/playfairdisplay-bold-webfont.woff
  static/fonts/playfairdisplay-bold-webfont.woff2
  static/fonts/playfairdisplay-italic-webfont.ttf
  static/fonts/playfairdisplay-italic-webfont.woff
  static/fonts/playfairdisplay-italic-webfont.woff2
  static/fonts/playfairdisplay-regular-webfont.ttf
  static/fonts/playfairdisplay-regular-webfont.woff
  static/fonts/playfairdisplay-regular-webfont.woff2
  static/fonts/playfairdisplaysc-regular-webfont.ttf
  static/fonts/playfairdisplaysc-regular-webfont.woff
  static/fonts/playfairdisplaysc-regular-webfont.woff2
Due: prettier --write, jest --findRelatedTests

chore(mdx-provider): add move components
  src/components/MDXProviderContainer/MDXProviderContainer.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(colorswatch): add tests for keyUp event and focus
  src/components/ColorSwatch/ColorSwatch.test.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(web-font): add some loading styles for webfont
  src/components/Layout/styles/global.css
  src/pages/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix(spoiler): remove margin-bottom from inline Spoiler
  src/components/Spoiler/Spoiler.styles.tsx
  src/components/Spoiler/__snapshots__/Spoiler.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(tokens): simplify types and change typographic scale
  src/components/Typography/Typography.tsx
  src/components/Typography/__snapshots__/Typography.test.tsx.snap
  src/themes/tokens/lineHeights.ts
  src/themes/tokens/space.ts
  src/themes/tokens/typographicScale.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(color): add base text and background colors
  src/components/ColorSwatch/ColorSwatch.styles.tsx
  src/components/ColorSwatch/__snapshots__/ColorSwatch.test.tsx.snap
  src/components/Header/Header.styles.tsx
  src/components/Header/__snapshots__/Header.test.tsx.snap
  src/components/Layout/GlobalStyles.ts
  src/components/Layout/Layout.tsx
  src/components/Layout/styles/global.css
  src/components/Spoiler/Spoiler.styles.tsx
  src/components/Spoiler/__snapshots__/Spoiler.test.tsx.snap
  src/components/ThemeToggle/ThemeToggle.styles.tsx
  src/components/ThemeToggle/__snapshots__/ThemeToggle.test.tsx.snap
  src/themes/tokens/colors.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(husky): remove 'git add' from lint-staged tasks, as this is default now
  .lintstagedrc.json
Due: prettier --write, jest --findRelatedTests

chore: use correct title component for blog posts
  src/templates/blog-post.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(npm): upgrade npm modules
  package.json
  yarn.lock
Due: prettier --write, jest --findRelatedTests

improvement(emojify): add different font-size to Emojify depending on where it is shown
  src/components/Emojify/Emojify.styles.tsx
  src/components/Emojify/Emojify.tsx
  src/components/Emojify/__snapshots__/Emojify.test.tsx.snap
  src/pages/styleguide.mdx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser markdown --write

refactor(typography): move defaultProps into separate file and create components with a function
  src/components/MDXProviderContainer/MDXProviderContainer.tsx
  src/components/Typography/Typography.test.tsx
  src/components/Typography/Typography.tsx
  src/components/Typography/TypographyStyles.ts
  src/pages/index.tsx
  src/templates/blog-post.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(autolink): add styling for autolink header on Markdown headlines
  gatsby-config.js
  src/components/Layout/styles/global.css
  src/components/Typography/DynamicComponent.tsx
  src/components/Typography/TypographyStyles.ts
  src/components/Typography/__snapshots__/Typography.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(typography): add basic TextLink component able to switch between a href and Link component
  src/components/Typography/Typography.tsx
  src/pages/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(package.json): change task to use yarn
  package.json
Due: prettier --write, jest --findRelatedTests

refactor(typography): move TextLink into own component
  content/posts/2019/post-3/index.md
  src/components/MDXProviderContainer/MDXProviderContainer.tsx
  src/components/TextLink/TextLink.styles.tsx
  src/components/TextLink/TextLink.tsx
  src/components/TextLink/index.ts
  src/components/Typography/Typography.tsx
  src/pages/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser markdown --write

chore: clean up unused demo component
  src/components/Demo.tsx
  src/components/MDXProviderContainer/MDXProviderContainer.tsx
  src/components/Typography/Typography.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(link): add basic styling for Link component
  src/components/Layout/GlobalStyles.ts
  src/components/MDXProviderContainer/MDXProviderContainer.tsx
  src/components/TextLink/TextLink.styles.tsx
  src/components/TextLink/TextLink.tsx
  src/pages/styleguide.mdx
  src/themes/index.ts
  src/themes/tokens/colors.ts
  src/themes/tokens/fontWeights.ts
  src/themes/tokens/index.ts
  tsconfig.json
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser markdown --write

chore(code-block): add space below component
  src/components/Layout/styles/global.css
Due: prettier --write, jest --findRelatedTests

chore(typography): add top spacing to Headline and Subline components
  src/components/Typography/TypographyStyles.ts
  src/components/Typography/__snapshots__/Typography.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(textlink): change font-size and re-use CSS for both components
  src/components/TextLink/TextLink.styles.tsx
  src/components/TextLink/TextLink.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

docs(textlink): add documentation and code example
  src/pages/styleguide.mdx
Due: prettier --parser markdown --write

test(textlink): add snapshot tests
  src/components/TextLink/TextLink.test.tsx
  src/components/TextLink/__snapshots__/TextLink.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix(blocklink): remove console.log
  src/pages/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  jest --findRelatedTests: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  prettier --parser markdown --write: any of: *.{mdx,md}
