Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser markdown --write

docs(styleguide): add examples for inline-code, kbd, var and sample
  src/pages/styleguide.mdx
Due: prettier --parser markdown --write

test(kbd): add tests
  src/components/KeyboardShortcut/KeyboardShortcut.test.tsx
  src/components/KeyboardShortcut/__snapshots__/KeyboardShortcut.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(inline-code): add tests
  src/components/InlineCode/InlineCode.test.tsx
  src/components/InlineCode/__snapshots__/InlineCode.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(var): add component
  src/components/Variable/Variable.styles.tsx
  src/components/Variable/Variable.tsx
  src/components/Variable/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(kbd): add component
  src/components/KeyboardShortcut/KeyboardShortcut.styles.tsx
  src/components/KeyboardShortcut/KeyboardShortcut.tsx
  src/components/KeyboardShortcut/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(samp): add tests
  src/components/Sample/Sample.test.tsx
  src/components/Sample/__snapshots__/Sample.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(mdx-provider): add components to MDXProvider
  src/components/MDXProviderContainer/MDXProviderContainer.tsx
  src/components/Typography/Typography.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(samp): add component
  src/components/Sample/Sample.styles.tsx
  src/components/Sample/Sample.tsx
  src/components/Sample/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(code-block): add max-width and overflow
  src/components/Layout/styles/global.css
Due: prettier --write, jest --findRelatedTests

test(var): add tests
  src/components/Variable/Variable.test.tsx
  src/components/Variable/__snapshots__/Variable.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(inline-code): add component
  src/components/InlineCode/InlineCode.styles.tsx
  src/components/InlineCode/InlineCode.tsx
  src/components/InlineCode/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(plop): update component template
  templates/component/{{pascalCase name}}.styles.tsx.txt
Due: none

feat(token): add radii tokens
  src/themes/index.ts
  src/themes/tokens/index.ts
  src/themes/tokens/radii.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(inline-styles): add styling for a bunch of inline styles
  src/components/Layout/styles/global.css
  src/pages/styleguide.mdx
Due: prettier --write, jest --findRelatedTests, prettier --parser markdown --write

chore(color-swatch): adjust display of ColorSwatch on Styleguide
  src/components/ColorSwatch/ColorSwatch.styles.tsx
  src/components/ColorSwatch/__snapshots__/ColorSwatch.test.tsx.snap
  src/pages/styleguide.mdx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser markdown --write

chore: clean up temporary layout CSS
  src/components/Layout/Layout.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(plop): update component template
  templates/component/{{pascalCase name}}.tsx.txt
Due: none

feat(ruby): add component and styling
  src/components/RubyAnnotation/RubyAnnotation.styles.tsx
  src/components/RubyAnnotation/RubyAnnotation.tsx
  src/components/RubyAnnotation/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(mdx-provider): add RubyAnnotation to provider
  src/components/MDXProviderContainer/MDXProviderContainer.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

docs(styleguide): add RubyAnnotation to Styleguide
  src/pages/styleguide.mdx
Due: prettier --parser markdown --write

test(ruby): add tests
  src/components/RubyAnnotation/RubyAnnotation.test.tsx
  src/components/RubyAnnotation/__snapshots__/RubyAnnotation.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(dfn): add styling for dfn and abbr
  src/components/Layout/styles/global.css
  src/pages/styleguide.mdx
Due: prettier --write, jest --findRelatedTests, prettier --parser markdown --write

refactor(textlink): with new underline colors
  src/components/Layout/GlobalStyles.ts
  src/components/TextLink/TextLink.styles.tsx
  src/components/TextLink/__snapshots__/TextLink.test.tsx.snap
  src/themes/tokens/colors.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(text-link): to have font-weight bold
  src/components/TextLink/TextLink.styles.tsx
  src/components/TextLink/TextLink.tsx
  src/components/TextLink/__snapshots__/TextLink.test.tsx.snap
  src/pages/styleguide.mdx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser markdown --write

chore(linguist): ignore vendor html files
  .gitattributes
Due: none

chore(theme): move global theme functions into separate file
  .eslintignore
  src/html.js
  src/utils/theme.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(storybook): add dependencies for Storybook
  package.json
  yarn.lock
Due: prettier --write, jest --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  jest --findRelatedTests: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  prettier --parser markdown --write: any of: *.{mdx,md}
