Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

fix(row): problems with row component and other bugs
  content/showcases/hamburg-blog/index.md
  content/showcases/kogakure/index.md
  content/showcases/osteopathie-hamburg/index.md
  content/showcases/stefanimhoff-v2/index.md
  content/showcases/thai-restaurants-hamburg/index.md
  src/layout/row/__snapshots__/row.test.tsx.snap
  src/layout/row/row.styles.tsx
  src/screens/projects/bamboo-illustration/__snapshots__/bamboo-illustration.test.tsx.snap
  src/screens/projects/book-kogakure/__snapshots__/book-kogakure.test.tsx.snap
  src/screens/projects/hamburg-blog/__snapshots__/hamburg-blog.test.tsx.snap
  src/screens/projects/iga-ninja-font/__snapshots__/iga-ninja-font.test.tsx.snap
  src/screens/projects/japanese-color/__snapshots__/japanese-color.test.tsx.snap
  src/screens/projects/japanese-color/japanese-color.styles.tsx
  src/screens/projects/koi-illustration/__snapshots__/koi-illustration.test.tsx.snap
  src/screens/projects/martial-arts-website/__snapshots__/martial-arts-website.test.tsx.snap
  src/screens/projects/osteopathie-hamburg/__snapshots__/osteopathie-hamburg.test.tsx.snap
  src/screens/projects/sketchnotes/__snapshots__/sketchnotes.test.tsx.snap
  src/screens/projects/stefanimhoff-v2/__snapshots__/stefanimhoff-v2.test.tsx.snap
  src/screens/projects/thai-restaurant/__snapshots__/thai-restaurant.test.tsx.snap
  src/screens/projects/writing/__snapshots__/writing.test.tsx.snap
  src/screens/projects/xing-illustrations/__snapshots__/xing-illustrations.test.tsx.snap
  src/screens/traditional-colors-of-japan/books/__snapshots__/books.test.tsx.snap
  src/screens/traditional-colors-of-japan/books/books.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

feat(article): add missing section about color
  content/posts/2020/new-website-2020-design/index.md
Due: prettier --parser mdx --write

feat(article): add article "New Website 2020: Development"
  content/posts/2020/new-website-2020-design/index.md
  content/posts/2020/new-website-2020-development/cover.jpg
  content/posts/2020/new-website-2020-development/index.md
  content/posts/2020/new-website-2020-inspiration/index.md
Due: prettier --parser mdx --write

chore: add netlify-cli
  .gitignore
Due: none

chore: add build options for Netlify
  netlify.toml
Due: none

chore(now): update page
  src/pages/now.md
Due: prettier --parser mdx --write

chore(now): update Now page
  src/pages/now.md
Due: prettier --parser mdx --write

chore: remove link to newsletter
  content/posts/2020/new-website-2020/index.md
  src/screens/homepage/journal/__snapshots__/journal.test.tsx.snap
  src/screens/homepage/journal/journal.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

feat(article): add article "July 2020 Favorites"
  content/posts/2020/favorites-2020-07/cover.jpg
  content/posts/2020/favorites-2020-07/index.md
  content/posts/2020/favorites-2020-07/og.jpg
  package.json
Due: prettier --write, jest --findRelatedTests, prettier --parser mdx --write

fix(spelling): of some words and move links to correct section
  content/posts/2020/favorites-2020-07/index.md
Due: prettier --parser mdx --write

feat(pagination): add feature to hide pagination on scrolling down, show on scrolling up
  package.json
  src/layout/pagination/__snapshots__/pagination.test.tsx.snap
  src/layout/pagination/pagination.styles.tsx
  src/layout/pagination/pagination.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix: width of books
  content/posts/2020/new-website-2020-design/index.md
Due: prettier --parser mdx --write

chore(article): update book cover sizes
  content/posts/2019/favorites-2019-08/index.md
  content/posts/2019/favorites-2019-09/index.md
  content/posts/2019/favorites-2019-10/index.md
  content/posts/2019/favorites-2019-11/index.md
  content/posts/2019/favorites-2019-12/index.md
  content/posts/2020/101-things-you-can-do/index.md
  content/posts/2020/favorites-2020-01/index.md
  content/posts/2020/favorites-2020-02/index.md
  content/posts/2020/favorites-2020-03/index.md
  content/posts/2020/favorites-2020-04/index.md
  content/posts/2020/favorites-2020-05/index.md
  content/posts/2020/favorites-2020-06/index.md
  content/posts/2020/favorites-2020-07/index.md
Due: prettier --parser mdx --write

feat(article): August 2020 monthly recommendations
  content/posts/2020/favorites-2020-08/cover.jpg
  content/posts/2020/favorites-2020-08/index.md
  content/posts/2020/favorites-2020-08/og.jpg
Due: prettier --parser mdx --write

feat(article): Tools I Use For Note-Taking
  content/posts/2020/tools-i-use-for-note-taking/cover.jpg
  content/posts/2020/tools-i-use-for-note-taking/index.md
  content/posts/2020/tools-i-use-for-note-taking/obsidian-graph-view.jpg
  content/posts/2020/tools-i-use-for-note-taking/og.jpg
Due: prettier --parser mdx --write

chore(article): drop 'the' from article titles
  content/posts/2007/koi-design/index.md
  content/posts/2014/logo-design/index.md
  content/posts/2014/website-typography/index.md
Due: prettier --parser mdx --write

fix(article): wrong OG graphic
  content/posts/2020/tools-i-use-for-note-taking/og.jpg
Due: none

chore: change YouTube links to use short url
  content/posts/2007/koi-design/index.md
  content/posts/2009/git/index.md
  content/posts/2009/home-documentary/index.md
  content/posts/2010/vim/index.md
  content/posts/2015/calisthenics/index.md
  content/posts/2015/human-documentary/index.md
  content/posts/2015/motivational-video/index.md
  content/posts/2016/japanese-netflix-tv-show-underwear/index.md
  content/posts/2016/jekyll-hugo-migration/index.md
  content/posts/2017/attention/index.md
  content/posts/2017/minimalism/index.md
  content/posts/2018/morning-routine/index.md
  content/posts/2018/storing-information/index.md
  content/posts/2019/favorites-2019-08/index.md
  content/posts/2019/favorites-2019-09/index.md
  content/posts/2019/favorites-2019-10/index.md
  content/posts/2019/favorites-2019-11/index.md
  content/posts/2019/favorites-2019-12/index.md
  content/posts/2020/101-things-you-can-do/index.md
  content/posts/2020/everyday-carry/index.md
  content/posts/2020/favorites-2020-01/index.md
  content/posts/2020/favorites-2020-02/index.md
  content/posts/2020/favorites-2020-03/index.md
  content/posts/2020/favorites-2020-04/index.md
  content/posts/2020/favorites-2020-05/index.md
  content/posts/2020/favorites-2020-06/index.md
  content/posts/2020/favorites-2020-07/index.md
  content/posts/2020/favorites-2020-08/index.md
  content/posts/2020/new-website-2020-design/index.md
  content/posts/2020/new-website-2020-development/index.md
  content/posts/2020/zettelkasten-note-taking-devonthink/index.md
  content/sketchnotes/being-a-good-listener/index.md
Due: prettier --parser mdx --write

feat(article): September 2020 Favorites
  content/posts/2020/favorites-2020-09/cover.jpg
  content/posts/2020/favorites-2020-09/index.md
  content/posts/2020/favorites-2020-09/og.jpg
Due: prettier --parser mdx --write

feat(homepage): increase post count to 14
  src/hooks/use-homepage-journal-posts-query.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix: minor issues with wording
  content/posts/2020/favorites-2020-09/index.md
  content/posts/2020/tools-i-use-for-note-taking/index.md
Due: prettier --parser mdx --write

feat(article): October 2020 Favorites
  content/posts/2020/favorites-2020-10/cover.jpg
  content/posts/2020/favorites-2020-10/index.md
  content/posts/2020/favorites-2020-10/og.jpg
Due: prettier --parser mdx --write

feat(haiku): add new Haiku
  content/data/haiku.yml
Due: none

fix(row): problem with image containers collapsing
  src/layout/row/__snapshots__/row.test.tsx.snap
  src/layout/row/row.styles.tsx
  src/screens/projects/koi-illustration/__snapshots__/koi-illustration.test.tsx.snap
  src/screens/projects/xing-illustrations/__snapshots__/xing-illustrations.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(storybook): upgrade setup to version 6
  .storybook/addons.js
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(article): November 2020 Favorites
  content/posts/2020/favorites-2020-11/cover.jpg
  content/posts/2020/favorites-2020-11/index.md
  content/posts/2020/favorites-2020-11/og.jpg
Due: prettier --parser mdx --write

chore(about): update text
  src/screens/about/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/about/about-me/about-me.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: remove timestamps
  content/posts/2019/favorites-2019-08/index.md
  content/posts/2019/favorites-2019-09/index.md
  content/posts/2019/favorites-2019-10/index.md
  content/posts/2019/favorites-2019-11/index.md
  content/posts/2019/favorites-2019-12/index.md
  content/posts/2020/favorites-2020-01/index.md
  content/posts/2020/favorites-2020-02/index.md
  content/posts/2020/favorites-2020-03/index.md
  content/posts/2020/favorites-2020-04/index.md
  content/posts/2020/favorites-2020-05/index.md
  content/posts/2020/favorites-2020-06/index.md
  content/posts/2020/favorites-2020-07/index.md
  content/posts/2020/favorites-2020-08/index.md
  content/posts/2020/favorites-2020-09/index.md
  content/posts/2020/favorites-2020-10/index.md
  content/posts/2020/favorites-2020-11/index.md
Due: prettier --parser mdx --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  jest --findRelatedTests: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  prettier --parser mdx --write: any of: *.{mdx,md}
