Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

refactor(up-link): simplify scroll to top behavior and add a CSS version
  src/layout/styles/global.css
  src/layout/up-link/up-link.tsx
  src/pages/about.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor: change theme for code highlighting to Noctis Minimus
  gatsby-config.js
  package.json
  src/pages/imprint.mdx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

refactor(navigation): simplify the format of the navigation yaml data file
  content/data/navigation.yml
  src/hooks/use-layout-query.ts
  src/layout/layout.test.tsx
  src/layout/layout.tsx
  src/typings/graphql/layout-query-data.d.ts
  src/typings/graphql/navigation.d.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(about): add contact information and social media links to about page
  content/data/social-media.yml
  jest.config.js
  src/components/protected-email/protected-email.tsx
  src/hooks/index.ts
  src/hooks/use-social-media-query.ts
  src/pages/about.tsx
  src/screens/about/__snapshots__/about.test.tsx.snap
  src/screens/about/about.styles.tsx
  src/screens/about/about.test.tsx
  src/typings/graphql/index.ts
  src/typings/graphql/social-media-item.d.ts
  src/typings/graphql/social-media-query-data.d.ts
  src/typings/graphql/social-media.d.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(404): move all parts of the page into separate components
  src/pages/404.tsx
  src/screens/404/404.test.tsx
  src/screens/404/haiku/__snapshots__/haiku.test.tsx.snap
  src/screens/404/haiku/haiku.styles.tsx
  src/screens/404/haiku/haiku.test.tsx
  src/screens/404/haiku/haiku.tsx
  src/screens/404/haiku/index.ts
  src/screens/404/huge-404/__snapshots__/huge-404.test.tsx.snap
  src/screens/404/huge-404/huge-404.styles.tsx
  src/screens/404/huge-404/huge-404.test.tsx
  src/screens/404/huge-404/huge-404.tsx
  src/screens/404/huge-404/index.ts
  src/screens/404/index.ts
  src/screens/404/title/__snapshots__/title.test.tsx.snap
  src/screens/404/title/index.ts
  src/screens/404/title/title.styles.tsx
  src/screens/404/title/title.test.tsx
  src/screens/404/title/title.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(about): move all parts of the page into separate components
  src/pages/about.tsx
  src/screens/about/__snapshots__/about.test.tsx.snap
  src/screens/about/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/about/about-me/about-me.styles.tsx
  src/screens/about/about-me/about-me.test.tsx
  src/screens/about/about-me/about-me.tsx
  src/screens/about/about-me/index.ts
  src/screens/about/about-website/__snapshots__/about-website.test.tsx.snap
  src/screens/about/about-website/about-website.styles.tsx
  src/screens/about/about-website/about-website.test.tsx
  src/screens/about/about-website/about-website.tsx
  src/screens/about/about-website/index.ts
  src/screens/about/about.styles.tsx
  src/screens/about/about.test.tsx
  src/screens/about/connect/__snapshots__/connect.test.tsx.snap
  src/screens/about/connect/connect.styles.tsx
  src/screens/about/connect/connect.test.tsx
  src/screens/about/connect/connect.tsx
  src/screens/about/connect/index.ts
  src/screens/about/contact/__snapshots__/contact.test.tsx.snap
  src/screens/about/contact/contact.styles.tsx
  src/screens/about/contact/contact.test.tsx
  src/screens/about/contact/contact.tsx
  src/screens/about/contact/index.ts
  src/screens/about/index.ts
  src/screens/about/photo/__snapshots__/photo.test.tsx.snap
  src/screens/about/photo/index.ts
  src/screens/about/photo/photo.styles.tsx
  src/screens/about/photo/photo.test.tsx
  src/screens/about/photo/photo.tsx
  src/screens/about/photo/portrait-photo.tsx
  src/screens/about/title/__snapshots__/title.test.tsx.snap
  src/screens/about/title/index.ts
  src/screens/about/title/title.styles.tsx
  src/screens/about/title/title.test.tsx
  src/screens/about/title/title.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(homepage): add "About Me" and "What I Do" sections
  content/assets/images/bonsai.jpg
  content/data/social-media.yml
  src/components/blockquote/__snapshots__/blockquote.test.tsx.snap
  src/components/color-swatch/__snapshots__/color-swatch.test.tsx.snap
  src/components/icons/arrow-right.tsx
  src/components/icons/index.tsx
  src/components/icons/svg/arrow-right.svg
  src/components/text-link/text-link.styles.tsx
  src/components/text-link/text-link.tsx
  src/components/typography/__snapshots__/typography.test.tsx.snap
  src/components/typography/typography.styles.tsx
  src/layout/emojify/__snapshots__/emojify.test.tsx.snap
  src/layout/tokens/shadows.ts
  src/pages/index.tsx
  src/screens/about/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/homepage/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/homepage/about-me/about-me.styles.tsx
  src/screens/homepage/about-me/about-me.test.tsx
  src/screens/homepage/about-me/about-me.tsx
  src/screens/homepage/about-me/index.ts
  src/screens/homepage/cover-image/__snapshots__/cover-image.test.tsx.snap
  src/screens/homepage/cover-image/bosai-image.tsx
  src/screens/homepage/cover-image/cover-image.styles.tsx
  src/screens/homepage/cover-image/cover-image.test.tsx
  src/screens/homepage/cover-image/cover-image.tsx
  src/screens/homepage/cover-image/index.ts
  src/screens/homepage/index.ts
  src/screens/homepage/title/__snapshots__/title.test.tsx.snap
  src/screens/homepage/title/index.ts
  src/screens/homepage/title/title.styles.tsx
  src/screens/homepage/title/title.test.tsx
  src/screens/homepage/title/title.tsx
  src/screens/homepage/what-i-do/__snapshots__/what-i-do.test.tsx.snap
  src/screens/homepage/what-i-do/index.ts
  src/screens/homepage/what-i-do/what-i-do.styles.tsx
  src/screens/homepage/what-i-do/what-i-do.test.tsx
  src/screens/homepage/what-i-do/what-i-do.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: change some sentences
  src/screens/about/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/about/about-me/about-me.tsx
  src/screens/homepage/what-i-do/__snapshots__/what-i-do.test.tsx.snap
  src/screens/homepage/what-i-do/what-i-do.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: various improvements to the layout components
  gatsby-config.js
  src/components/localized-date/localized-date.tsx
  src/components/protected-email/__snapshots__/protected-email.test.tsx.snap
  src/components/protected-email/protected-email.styles.tsx
  src/components/protected-email/protected-email.tsx
  src/contexts/emojify-context.tsx
  src/contexts/localized-date-context.tsx
  src/layout/column/__snapshots__/column.test.tsx.snap
  src/layout/column/column.stories.tsx
  src/layout/column/column.styles.tsx
  src/layout/column/column.tsx
  src/layout/content-grid/__snapshots__/content-grid.test.tsx.snap
  src/layout/content-grid/content-grid.stories.tsx
  src/layout/content-grid/content-grid.styles.tsx
  src/layout/content-grid/content-grid.test.tsx
  src/layout/content-grid/content-grid.tsx
  src/layout/content-grid/index.ts
  src/layout/grid/grid.tsx
  src/layout/grid/index.ts
  src/layout/index.ts
  src/layout/layout.tsx
  src/layout/mdx-provider-container/shortcodes.tsx
  src/layout/row/__snapshots__/row.test.tsx.snap
  src/layout/row/row.styles.tsx
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/screens/about/contact/__snapshots__/contact.test.tsx.snap
  src/templates/default.tsx
  src/templates/fullsize.tsx
  src/templates/narrow.tsx
  src/templates/regular.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

improvement(about): add some more information and align homepage about with the about page
  src/screens/about/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/about/about-me/about-me.tsx
  src/screens/homepage/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/homepage/about-me/about-me.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(flag): add Flag component to display TV show seasons, time codes, service provider etc
  src/components/flag/__snapshots__/flag.test.tsx.snap
  src/components/flag/flag.stories.tsx
  src/components/flag/flag.styles.tsx
  src/components/flag/flag.test.tsx
  src/components/flag/flag.tsx
  src/components/flag/index.ts
  src/layout/mdx-provider-container/shortcodes.tsx
  src/pages/styleguide.mdx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

refactor(flag): move Netflix and Prime Video into separate components
  src/components/flag/flag.stories.tsx
  src/components/flag/flag.styles.tsx
  src/components/flag/flag.test.tsx
  src/components/flag/flag.tsx
  src/components/flag/index.ts
  src/components/flag/netflix-flag/__snapshots__/netflix-flag.test.tsx.snap
  src/components/flag/netflix-flag/index.ts
  src/components/flag/netflix-flag/netflix-flag.stories.tsx
  src/components/flag/netflix-flag/netflix-flag.styles.tsx
  src/components/flag/netflix-flag/netflix-flag.test.tsx
  src/components/flag/netflix-flag/netflix-flag.tsx
  src/components/flag/prime-video-flag/__snapshots__/prime-video-flag.test.tsx.snap
  src/components/flag/prime-video-flag/index.ts
  src/components/flag/prime-video-flag/prime-video-flag.stories.tsx
  src/components/flag/prime-video-flag/prime-video-flag.styles.tsx
  src/components/flag/prime-video-flag/prime-video-flag.test.tsx
  src/components/flag/prime-video-flag/prime-video-flag.tsx
  src/layout/mdx-provider-container/shortcodes.tsx
  src/pages/imprint.mdx
  src/pages/styleguide.mdx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

feat(traditional-colors-of-japan): add page with title and color swatches
  content/data/japanese-color.yml
  src/components/color-swatch/color-swatch.styles.tsx
  src/hooks/index.ts
  src/hooks/use-japanese-color-query.ts
  src/pages/traditional-colors-of-japan.tsx
  src/screens/traditional-colors-of-japan/color-grid/__snapshots__/color-grid.test.tsx.snap
  src/screens/traditional-colors-of-japan/color-grid/color-grid.styles.tsx
  src/screens/traditional-colors-of-japan/color-grid/color-grid.test.tsx
  src/screens/traditional-colors-of-japan/color-grid/color-grid.tsx
  src/screens/traditional-colors-of-japan/color-grid/index.ts
  src/screens/traditional-colors-of-japan/index.ts
  src/screens/traditional-colors-of-japan/title/__snapshots__/title.test.tsx.snap
  src/screens/traditional-colors-of-japan/title/index.ts
  src/screens/traditional-colors-of-japan/title/title.styles.tsx
  src/screens/traditional-colors-of-japan/title/title.test.tsx
  src/screens/traditional-colors-of-japan/title/title.tsx
  src/typings/graphql/index.ts
  src/typings/graphql/japanese-color-item.d.ts
  src/typings/graphql/japanese-color-query-data.d.ts
  src/typings/graphql/japanese-color.d.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(icon-link): extract icon functionality into own component
  src/components/icon-link/__snapshots__/icon-link.test.tsx.snap
  src/components/icon-link/icon-link.stories.tsx
  src/components/icon-link/icon-link.styles.tsx
  src/components/icon-link/icon-link.test.tsx
  src/components/icon-link/icon-link.tsx
  src/components/icon-link/index.ts
  src/components/text-link/text-link.tsx
  src/layout/mdx-provider-container/shortcodes.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(more-link): create own component for more link
  src/components/more-link/__snapshots__/more-link.test.tsx.snap
  src/components/more-link/index.ts
  src/components/more-link/more-link.stories.tsx
  src/components/more-link/more-link.test.tsx
  src/components/more-link/more-link.tsx
  src/layout/mdx-provider-container/shortcodes.tsx
  src/pages/styleguide.mdx
  src/screens/homepage/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/homepage/about-me/about-me.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

feat(download-link): create own component for download link
  src/components/download-link/__snapshots__/download-link.test.tsx.snap
  src/components/download-link/download-link.stories.tsx
  src/components/download-link/download-link.test.tsx
  src/components/download-link/download-link.tsx
  src/components/download-link/index.ts
  src/components/icons/__snapshots__/icons.test.tsx.snap
  src/components/icons/download.stories.tsx
  src/components/icons/download.tsx
  src/components/icons/icons.test.tsx
  src/components/icons/index.tsx
  src/components/icons/svg/download.svg
  src/layout/mdx-provider-container/shortcodes.tsx
  src/pages/styleguide.mdx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

refactor: allow IconLink to have animations
  src/components/download-link/__snapshots__/download-link.test.tsx.snap
  src/components/download-link/download-link.tsx
  src/components/icon-link/__snapshots__/icon-link.test.tsx.snap
  src/components/icon-link/icon-link.styles.tsx
  src/components/icon-link/icon-link.tsx
  src/components/more-link/__snapshots__/more-link.test.tsx.snap
  src/components/more-link/more-link.tsx
  src/pages/styleguide.mdx
  src/screens/homepage/about-me/__snapshots__/about-me.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

refactor(graphql): reduce the amount of definition files
  src/typings/graphql/index.ts
  src/typings/graphql/japanese-color-item.d.ts
  src/typings/graphql/japanese-color-query-data.d.ts
  src/typings/graphql/japanese-color.d.ts
  src/typings/graphql/layout-query-data.d.ts
  src/typings/graphql/layout.d.ts
  src/typings/graphql/navigation-item.d.ts
  src/typings/graphql/navigation-query-data.d.ts
  src/typings/graphql/navigation.d.ts
  src/typings/graphql/post.d.ts
  src/typings/graphql/posts-query.d.ts
  src/typings/graphql/posts.d.ts
  src/typings/graphql/site-metadata-query-data.d.ts
  src/typings/graphql/site-metadata.d.ts
  src/typings/graphql/social-media-item.d.ts
  src/typings/graphql/social-media-query-data.d.ts
  src/typings/graphql/social-media.d.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

improvement(home-link): add ability to add a custom home link url to the component
  src/layout/header/header.tsx
  src/layout/home-link/__snapshots__/home-link.test.tsx.snap
  src/layout/home-link/home-link.test.tsx
  src/layout/home-link/home-link.tsx
  src/layout/layout.tsx
  src/pages/traditional-colors-of-japan.tsx
  src/templates/blog-post.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: add comment for issue
  gatsby-browser.js
  gatsby-ssr.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: add download for Adobe Swatch Exchange (ASE) file for Japanese Colors of Japan
  static/downloads/traditional-colors-of-japan-rgb.zip
Due: none

feat(book): add new component to display books
  src/components/book/__snapshots__/book.test.tsx.snap
  src/components/book/book.stories.tsx
  src/components/book/book.styles.tsx
  src/components/book/book.test.tsx
  src/components/book/book.tsx
  src/components/book/index.ts
  src/components/book/mock/book.jpg
  src/layout/mdx-provider-container/shortcodes.tsx
  src/pages/styleguide.mdx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

feat(amazon-book): add an AmazonBook component
  src/components/amazon-book/__snapshots__/amazon-book.test.tsx.snap
  src/components/amazon-book/amazon-book.stories.tsx
  src/components/amazon-book/amazon-book.test.tsx
  src/components/amazon-book/amazon-book.tsx
  src/components/amazon-book/index.ts
  src/layout/mdx-provider-container/shortcodes.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix(about): add missing words
  src/screens/about/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/about/about-me/about-me.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(styleguide): add missing examples and code examples for Book and AmazonBook
  src/pages/styleguide.mdx
Due: prettier --parser mdx --write

chore(styleguide): remove one example of ColorSwatch to better fit the column
  src/pages/styleguide.mdx
Due: prettier --parser mdx --write

feat(traditional-colors-of-japan): add introduction paragraph with download link and book cover
  src/pages/traditional-colors-of-japan.tsx
  src/screens/traditional-colors-of-japan/book/__snapshots__/book.test.tsx.snap
  src/screens/traditional-colors-of-japan/book/book.styles.tsx
  src/screens/traditional-colors-of-japan/book/book.test.tsx
  src/screens/traditional-colors-of-japan/book/book.tsx
  src/screens/traditional-colors-of-japan/book/index.ts
  src/screens/traditional-colors-of-japan/index.ts
  src/screens/traditional-colors-of-japan/introduction/__snapshots__/introduction.test.tsx.snap
  src/screens/traditional-colors-of-japan/introduction/index.ts
  src/screens/traditional-colors-of-japan/introduction/introduction.styles.tsx
  src/screens/traditional-colors-of-japan/introduction/introduction.test.tsx
  src/screens/traditional-colors-of-japan/introduction/introduction.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  jest --findRelatedTests: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  prettier --parser mdx --write: any of: *.{mdx,md}
