Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

fix: add missing GraphQL query data for OG image
  src/templates/journal.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(prettier): change prettier formatting rules for Markdown files
  content/sketchnotes/being-a-good-listener/index.md
  content/sketchnotes/better-conversation/index.md
  content/sketchnotes/bikablo-practice/index.md
  content/sketchnotes/how-to-speak/index.md
  content/sketchnotes/random-sketches/index.md
  content/sketchnotes/self-actualization/index.md
  content/sketchnotes/the-art-of-enough/index.md
  content/sketchnotes/this-is-water/index.md
  content/sketchnotes/title-lettering/index.md
  content/sketchnotes/weight-idea/index.md
  content/sketchnotes/wim-hof-method/index.md
Due: prettier --parser mdx --write

feat(affiliate-link): add affiliate link component and replace long links in all articles
  content/posts/2007/gtd/index.md
  content/posts/2007/japanese-colors/index.md
  content/posts/2007/koi-design/index.md
  content/posts/2010/rework/index.md
  content/posts/2011/decodeunicode/index.md
  content/posts/2014/john-seymour-books/index.md
  content/posts/2014/website-typography/index.md
  content/posts/2015/calisthenics/index.md
  content/posts/2017/minimalism/index.md
  content/posts/2018/morning-routine/index.md
  src/components/affiliate-link/__snapshots__/affiliate-link.test.tsx.snap
  src/components/affiliate-link/affiliate-link.stories.tsx
  src/components/affiliate-link/affiliate-link.test.tsx
  src/components/affiliate-link/affiliate-link.tsx
  src/components/affiliate-link/index.ts
  src/layout/mdx-provider-container/shortcodes.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

chore(homepage): limit amount of posts and add link to projects page
  src/pages/index.tsx
  src/screens/homepage/what-i-do/__snapshots__/what-i-do.test.tsx.snap
  src/screens/homepage/what-i-do/what-i-do.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(journal): change headlines for articles
  content/posts/2007/domain-hosting/index.md
  content/posts/2007/gtd/index.md
  content/posts/2007/japanese-colors/index.md
  content/posts/2007/koi-design/index.md
  content/posts/2018/post-1/index.md
Due: prettier --parser mdx --write

feat(journal): add articles from 2019
  content/posts/2019/favorites-2019-08/cover.jpg
  content/posts/2019/favorites-2019-08/index.md
  content/posts/2019/favorites-2019-09/cover.jpg
  content/posts/2019/favorites-2019-09/index.md
  content/posts/2019/favorites-2019-10/cover.jpg
  content/posts/2019/favorites-2019-10/index.md
  content/posts/2019/favorites-2019-11/cover.jpg
  content/posts/2019/favorites-2019-11/index.md
  content/posts/2019/favorites-2019-12/cover.jpg
  content/posts/2019/favorites-2019-12/index.md
Due: prettier --parser mdx --write

fix(code-block): set width of code block explicitly to prevent breaking of layout
  src/layout/styles/global.css
Due: prettier --write, jest --findRelatedTests

chore: change Prettier settings and get OG data
  .prettierrc.json
  src/layout/styles/global.css
  src/templates/journal.tsx
  src/typings/graphql/post.d.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(homepage): add Latest Articles section
  src/hooks/index.ts
  src/hooks/use-homepage-journal-posts-query.ts
  src/pages/index.tsx
  src/screens/homepage/index.ts
  src/screens/homepage/journal/__snapshots__/journal.test.tsx.snap
  src/screens/homepage/journal/index.ts
  src/screens/homepage/journal/journal.styles.tsx
  src/screens/homepage/journal/journal.test.tsx
  src/screens/homepage/journal/journal.tsx
  src/screens/journal/introduction/__snapshots__/introduction.test.tsx.snap
  src/screens/journal/introduction/introduction.tsx
  src/services/random-number.ts
  src/typings/graphql/posts.d.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(now): add Now page
  src/pages/now.mdx
  src/screens/about/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/about/about-me/about-me.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

chore: shorten titles of some journal posts
  content/posts/2014/gulp-tutorial-1-intro-setup/index.md
  content/posts/2014/gulp-tutorial-10-generating-sprites/index.md
  content/posts/2014/gulp-tutorial-11-production-build-server-and-jekyll/index.md
  content/posts/2014/gulp-tutorial-12-optimize-css-javascript-images-and-html/index.md
  content/posts/2014/gulp-tutorial-13-revisioning/index.md
  content/posts/2014/gulp-tutorial-14-deploying-the-website/index.md
  content/posts/2014/gulp-tutorial-15-performance-improvements-webp-gzip/index.md
  content/posts/2014/gulp-tutorial-2-development-server-browsersync-configuration/index.md
  content/posts/2014/gulp-tutorial-3-build-clean-jekyll/index.md
  content/posts/2014/gulp-tutorial-4-css-generation-sass/index.md
  content/posts/2014/gulp-tutorial-5-javascripts-browserify/index.md
  content/posts/2014/gulp-tutorial-6-images-vector-fonts/index.md
  content/posts/2014/gulp-tutorial-7-base64/index.md
  content/posts/2014/gulp-tutorial-8-watch/index.md
  content/posts/2014/gulp-tutorial-9-linting-scss-and-javascript/index.md
  content/posts/2015/gulp-tutorial-16-postcss/index.md
  content/posts/2016/jekyll-hugo-migration/index.md
Due: prettier --parser mdx --write

refactor(transition): change low-performance transitions into performant transitions
  src/components/amazon-book/__snapshots__/amazon-book.test.tsx.snap
  src/components/book/__snapshots__/book.test.tsx.snap
  src/components/book/book.styles.tsx
  src/components/image/image.styles.tsx
  src/components/image/image.tsx
  src/layout/default-layout/__snapshots__/layout.test.tsx.snap
  src/layout/header/__snapshots__/header.test.tsx.snap
  src/layout/minimal-layout/__snapshots__/minimal-layout.test.tsx.snap
  src/layout/styles/global.css
  src/layout/theme-toggle/__snapshots__/theme-toggle.test.tsx.snap
  src/layout/theme-toggle/theme-toggle.styles.tsx
  src/screens/about/photo/__snapshots__/photo.test.tsx.snap
  src/screens/about/photo/photo.styles.tsx
  src/screens/about/photo/photo.tsx
  src/screens/haiku/books/__snapshots__/books.test.tsx.snap
  src/screens/haiku/haiku-image/__snapshots__/haiku-image.test.tsx.snap
  src/screens/haiku/haiku-image/haiku-image.styles.tsx
  src/screens/haiku/haiku-image/haiku-image.tsx
  src/screens/homepage/cover-image/__snapshots__/cover-image.test.tsx.snap
  src/screens/homepage/cover-image/cover-image.styles.tsx
  src/screens/homepage/cover-image/cover-image.tsx
  src/screens/homepage/journal/__snapshots__/journal.test.tsx.snap
  src/screens/homepage/journal/journal.styles.tsx
  src/screens/journal-detail/cover-image/cover-image.styles.tsx
  src/screens/journal-detail/cover-image/cover-image.tsx
  src/screens/projects/book-kogakure/__snapshots__/book-kogakure.test.tsx.snap
  src/screens/projects/hamburg-blog/__snapshots__/hamburg-blog.test.tsx.snap
  src/screens/projects/iga-ninja-font/__snapshots__/iga-ninja-font.test.tsx.snap
  src/screens/projects/koi-illustration/__snapshots__/koi-illustration.test.tsx.snap
  src/screens/projects/martial-arts-website/__snapshots__/martial-arts-website.test.tsx.snap
  src/screens/projects/osteopathie-hamburg/__snapshots__/osteopathie-hamburg.test.tsx.snap
  src/screens/projects/sketchnotes/__snapshots__/sketchnotes.test.tsx.snap
  src/screens/projects/stefanimhoff-v2/__snapshots__/stefanimhoff-v2.test.tsx.snap
  src/screens/projects/thai-restaurant/__snapshots__/thai-restaurant.test.tsx.snap
  src/screens/projects/xing-illustrations/__snapshots__/xing-illustrations.test.tsx.snap
  src/screens/traditional-colors-of-japan/books/__snapshots__/books.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(homepage): add section for subscribing to newsletter, RSS feed, and following Twitter
  src/screens/homepage/journal/__snapshots__/journal.test.tsx.snap
  src/screens/homepage/journal/journal.styles.tsx
  src/screens/homepage/journal/journal.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(a11y): add descriptive labels to more links without further text
  src/screens/homepage/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/homepage/about-me/about-me.tsx
  src/screens/homepage/journal/__snapshots__/journal.test.tsx.snap
  src/screens/homepage/journal/journal.tsx
  src/screens/homepage/what-i-do/__snapshots__/what-i-do.test.tsx.snap
  src/screens/homepage/what-i-do/what-i-do.tsx
  src/screens/projects/hamburg-blog/__snapshots__/hamburg-blog.test.tsx.snap
  src/screens/projects/hamburg-blog/hamburg-blog.tsx
  src/screens/projects/koi-illustration/koi-illustration.tsx
  src/screens/projects/martial-arts-website/__snapshots__/martial-arts-website.test.tsx.snap
  src/screens/projects/martial-arts-website/martial-arts-website.tsx
  src/screens/projects/osteopathie-hamburg/__snapshots__/osteopathie-hamburg.test.tsx.snap
  src/screens/projects/osteopathie-hamburg/osteopathie-hamburg.tsx
  src/screens/projects/stefanimhoff-v2/__snapshots__/stefanimhoff-v2.test.tsx.snap
  src/screens/projects/stefanimhoff-v2/stefanimhoff-v2.tsx
  src/screens/projects/thai-restaurant/__snapshots__/thai-restaurant.test.tsx.snap
  src/screens/projects/thai-restaurant/thai-restaurant.tsx
  src/screens/projects/xing-illustrations/xing-illustrations.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(images): reduce image sizes to improve build speed
  package.json
  scripts/optimize.js
  src/screens/haiku/haiku-image/haiku-image.tsx
  src/screens/projects/iga-ninja-font/iga-ninja-font.tsx
  src/screens/projects/koi-illustration/koi-illustration.tsx
  src/screens/projects/sketchnotes/sketchnotes.tsx
  src/screens/projects/xing-illustrations/xing-illustrations.tsx
  src/templates/journal.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(webfont): remove plugin gatsby-plugin-web-font-loader
  gatsby-browser.js
  gatsby-config.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix(gatsby-image): add missing blur-up effect for journal images
  src/hooks/use-homepage-journal-posts-query.ts
  src/templates/journal.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(page-transition): add page-transitions
  gatsby-config.js
  jest.config.js
  package.json
  src/layout/default-layout/__snapshots__/layout.test.tsx.snap
  src/layout/default-layout/layout.tsx
  src/layout/page-transition/index.ts
  src/layout/page-transition/transition-layout.tsx
  src/layout/page-transition/transition.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test: add missing test data
  src/screens/homepage/journal/__snapshots__/journal.test.tsx.snap
  src/screens/homepage/journal/journal.test.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(homepage): decrease margin between columns and move more link to different position
  src/screens/homepage/what-i-do/__snapshots__/what-i-do.test.tsx.snap
  src/screens/homepage/what-i-do/what-i-do.styles.tsx
  src/screens/homepage/what-i-do/what-i-do.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(readme): update README.md
  README.md
Due: prettier --parser mdx --write

chore: open newsletter link in new tab/window
  src/components/text-link/text-link.tsx
  src/screens/homepage/journal/__snapshots__/journal.test.tsx.snap
  src/screens/homepage/journal/journal.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(emojify): add emoji to most headlines
  src/screens/about/about-website/__snapshots__/about-website.test.tsx.snap
  src/screens/about/about-website/about-website.tsx
  src/screens/about/connect/__snapshots__/connect.test.tsx.snap
  src/screens/about/connect/connect.tsx
  src/screens/about/contact/__snapshots__/contact.test.tsx.snap
  src/screens/about/contact/contact.tsx
  src/screens/homepage/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/homepage/about-me/about-me.tsx
  src/screens/homepage/journal/__snapshots__/journal.test.tsx.snap
  src/screens/homepage/journal/journal.tsx
  src/screens/homepage/what-i-do/__snapshots__/what-i-do.test.tsx.snap
  src/screens/homepage/what-i-do/what-i-do.tsx
  src/screens/projects/bamboo-illustration/bamboo-illustration.tsx
  src/screens/projects/book-kogakure/__snapshots__/book-kogakure.test.tsx.snap
  src/screens/projects/book-kogakure/book-kogakure.tsx
  src/screens/projects/hamburg-blog/__snapshots__/hamburg-blog.test.tsx.snap
  src/screens/projects/hamburg-blog/hamburg-blog.tsx
  src/screens/projects/iga-ninja-font/__snapshots__/iga-ninja-font.test.tsx.snap
  src/screens/projects/iga-ninja-font/iga-ninja-font.tsx
  src/screens/projects/japanese-color/__snapshots__/japanese-color.test.tsx.snap
  src/screens/projects/japanese-color/japanese-color.tsx
  src/screens/projects/koi-illustration/koi-illustration.tsx
  src/screens/projects/martial-arts-website/__snapshots__/martial-arts-website.test.tsx.snap
  src/screens/projects/martial-arts-website/martial-arts-website.tsx
  src/screens/projects/osteopathie-hamburg/__snapshots__/osteopathie-hamburg.test.tsx.snap
  src/screens/projects/osteopathie-hamburg/osteopathie-hamburg.tsx
  src/screens/projects/sketchnotes/__snapshots__/sketchnotes.test.tsx.snap
  src/screens/projects/sketchnotes/sketchnotes.tsx
  src/screens/projects/stefanimhoff-v2/__snapshots__/stefanimhoff-v2.test.tsx.snap
  src/screens/projects/stefanimhoff-v2/stefanimhoff-v2.tsx
  src/screens/projects/thai-restaurant/__snapshots__/thai-restaurant.test.tsx.snap
  src/screens/projects/thai-restaurant/thai-restaurant.tsx
  src/screens/projects/writing/__snapshots__/writing.test.tsx.snap
  src/screens/projects/writing/writing.tsx
  src/screens/projects/xing-illustrations/xing-illustrations.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(article): migrate June 2020 Favorites
  content/posts/2020/favorites-2020-06/cover.jpg
  content/posts/2020/favorites-2020-06/index.md
  content/posts/2020/favorites-2020-06/og.jpg
Due: prettier --parser mdx --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  jest --findRelatedTests: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  prettier --parser mdx --write: any of: *.{mdx,md}
