Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "stylelint --fix"],
  "*.{js,jsx,ts,tsx,css,d.ts,json}": [
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.{mdx,md}": ["prettier --parser mdx --write"]
}

feat(row): finish row component with all variants (responsive changes missing)
  src/layout/index.ts
  src/layout/mdx-provider-container/shortcodes.tsx
  src/layout/row/__snapshots__/row.test.tsx.snap
  src/layout/row/index.ts
  src/layout/row/row.stories.tsx
  src/layout/row/row.styles.tsx
  src/layout/row/row.test.tsx
  src/layout/row/row.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(404): add 404 page
  src/pages/404.mdx
  src/pages/404.tsx
  src/screens/404/404.test.tsx
  src/screens/404/404.tsx
  src/screens/404/__snapshots__/404.test.tsx.snap
  src/screens/404/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

fix(header): remove as property
  src/layout/header/header.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: add empty placeholders for some pages
  src/pages/about.tsx
  src/pages/cv.tsx
  src/pages/imprint.tsx
  src/pages/journal.tsx
  src/pages/projects.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(plop): move template folder into scripts folder
  package.json
  plopfile.js
  scripts/templates/blog-post/index.mdx.txt
  scripts/templates/component/index.ts.txt
  scripts/templates/component/{{dashCase name}}.stories.tsx.txt
  scripts/templates/component/{{dashCase name}}.styles.tsx.txt
  scripts/templates/component/{{dashCase name}}.test.tsx.txt
  scripts/templates/component/{{dashCase name}}.tsx.txt
  scripts/templates/svgr/icon-index.js
  scripts/templates/svgr/icon.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test: add row and column to storybook
  .storybook/preview.js
  src/components/blockquote/__snapshots__/blockquote.test.tsx.snap
  src/components/blockquote/blockquote.stories.tsx
  src/components/horizontal-rule/__snapshots__/horizontal-rule.test.tsx.snap
  src/components/horizontal-rule/horizontal-rule.stories.tsx
  src/layout/column/__snapshots__/column.test.tsx.snap
  src/layout/column/column.stories.tsx
  src/layout/column/column.styles.tsx
  src/layout/column/column.test.tsx
  src/layout/column/column.tsx
  src/layout/main/main.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(templates): create templates for all possible size variants
  content/data/navigation.yml
  gatsby-config.js
  src/pages/styleguide.mdx
  src/templates/fullsize.tsx
  src/templates/narrow.tsx
  src/templates/regular.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

fix(a11y): add some missing keyUp handlers and hide icons
  src/components/localized-date/__snapshots__/localized-date.test.tsx.snap
  src/components/localized-date/localized-date.test.tsx
  src/components/localized-date/localized-date.tsx
  src/layout/__snapshots__/layout.test.tsx.snap
  src/layout/footer/__snapshots__/footer.test.tsx.snap
  src/layout/header/__snapshots__/header.test.tsx.snap
  src/layout/home-link/__snapshots__/home-link.test.tsx.snap
  src/layout/home-link/home-link.tsx
  src/layout/theme-toggle/__snapshots__/theme-toggle.test.tsx.snap
  src/layout/theme-toggle/theme-toggle.tsx
  src/layout/up-link/__snapshots__/up-link.test.tsx.snap
  src/layout/up-link/up-link.tsx
  src/pages/404.mdx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

feat(protected-email): add ProtectedEmail component
  src/components/icons/__snapshots__/icons.test.tsx.snap
  src/components/icons/icons.test.tsx
  src/components/icons/index.tsx
  src/components/icons/lock.stories.tsx
  src/components/icons/lock.tsx
  src/components/icons/svg/lock.svg
  src/components/protected-email/__snapshots__/protected-email.test.tsx.snap
  src/components/protected-email/index.ts
  src/components/protected-email/protected-email.stories.tsx
  src/components/protected-email/protected-email.styles.tsx
  src/components/protected-email/protected-email.test.tsx
  src/components/protected-email/protected-email.tsx
  src/layout/mdx-provider-container/shortcodes.tsx
  static/downloads/publickey.stefan@imhoff.name-1d844c94d6fec7939a9bdaf221ce017ed5fa22c6.asc
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(imprint): add imprint page and fix smaller design issues
  gatsby-config.js
  src/components/ordered-list/__snapshots__/ordered-list.test.tsx.snap
  src/components/ordered-list/ordered-list.styles.tsx
  src/components/unordered-list/__snapshots__/unordered-list.test.tsx.snap
  src/components/unordered-list/unordered-list.styles.tsx
  src/layout/emojify-toggle/__snapshots__/emojify-toggle.test.tsx.snap
  src/layout/emojify-toggle/emojify-toggle.styles.tsx
  src/layout/emojify/__snapshots__/emojify.test.tsx.snap
  src/layout/emojify/emojify.tsx
  src/layout/mdx-provider-container/shortcodes.tsx
  src/pages/404.mdx
  src/pages/imprint.mdx
  src/pages/imprint.tsx
  src/pages/styleguide.mdx
  src/screens/404/404.styles.tsx
  src/screens/404/404.test.tsx
  src/screens/404/__snapshots__/404.test.tsx.snap
  src/screens/404/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

fix(content): spelling mistakes, add links and change sentences
  src/pages/404.mdx
  src/pages/imprint.mdx
Due: prettier --parser mdx --write

feat(typography): add a SubSubheadline component
  src/components/typography/__snapshots__/typography.test.tsx.snap
  src/components/typography/stories/sub-subheadline.stories.tsx
  src/components/typography/stories/subheadline.stories.tsx
  src/components/typography/stories/subline.stories.tsx
  src/components/typography/typography.styles.tsx
  src/components/typography/typography.test.tsx
  src/components/typography/typography.tsx
  src/layout/emojify/emojify.styles.tsx
  src/layout/mdx-provider-container/shortcodes.tsx
  src/pages/imprint.mdx
  src/pages/index.tsx
  src/pages/styleguide.mdx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

improvement(verse): add possibility to left align or center align the verse
  src/components/verse/__snapshots__/verse.test.tsx.snap
  src/components/verse/verse.stories.tsx
  src/components/verse/verse.styles.tsx
  src/components/verse/verse.test.tsx
  src/components/verse/verse.tsx
  src/pages/styleguide.mdx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

refactor(404): wrap Haiku on error page in Verse component
  src/pages/404.mdx
  src/screens/404/404.styles.tsx
  src/screens/404/__snapshots__/404.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

improvement(templates): allow all templates to receive the layout variant
  src/templates/fullsize.tsx
  src/templates/narrow.tsx
  src/templates/regular.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(404): convert page to tsx as there is no Markdown in the page needed
  src/pages/404.mdx
  src/pages/404.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

improvement(text-link): add nofollow, noopener and noreferrer to external links
  src/components/attribution/__snapshots__/attribution.test.tsx.snap
  src/components/blockquote/__snapshots__/blockquote.test.tsx.snap
  src/components/protected-email/__snapshots__/protected-email.test.tsx.snap
  src/components/pullquote/__snapshots__/pullquote.test.tsx.snap
  src/components/text-link/__snapshots__/text-link.test.tsx.snap
  src/components/text-link/text-link.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

improvement(typography): add property to remove margin to components
  src/components/typography/__snapshots__/typography.test.tsx.snap
  src/components/typography/stories/headline.stories.tsx
  src/components/typography/stories/paragraph.stories.tsx
  src/components/typography/stories/sub-subheadline.stories.tsx
  src/components/typography/stories/subheadline.stories.tsx
  src/components/typography/stories/title.stories.tsx
  src/components/typography/typography.styles.tsx
  src/components/typography/typography.test.tsx
  src/components/typography/typography.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(404): export styles of component in object
  src/pages/404.tsx
  src/screens/404/404.styles.tsx
  src/screens/404/404.test.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: remove dummy image component
  src/components/image/image.tsx
  src/components/image/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: change margin of header and footer
  jest.config.js
  src/layout/footer/__snapshots__/footer.test.tsx.snap
  src/layout/footer/footer.styles.tsx
  src/layout/header/__snapshots__/header.test.tsx.snap
  src/layout/header/header.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(layout): add missing tests for variants
  src/layout/__snapshots__/layout.test.tsx.snap
  src/layout/layout.test.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(about): add About page with image
  content/assets/images/portrait-stefan-imhoff.jpg
  src/pages/about.tsx
  src/screens/about/__snapshots__/about.test.tsx.snap
  src/screens/about/about.styles.tsx
  src/screens/about/about.test.tsx
  src/screens/about/index.ts
  src/screens/about/portrait-photo.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests
