Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

fix: issue with Styled Components and SSR
  gatsby-browser.js
  gatsby-ssr.js
  package.json
  src/components/localized-date/__snapshots__/localized-date.test.tsx.snap
  src/components/unordered-list/__snapshots__/unordered-list.test.tsx.snap
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(npm): upgrade packages
  package.json
  yarn.lock
Due: prettier --write, jest --findRelatedTests

chore: rename graphql query for homepage
  gatsby-node.js
  src/pages/index.tsx
  src/typings/graphql/posts.d.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(row): replace Flexbox in variable row variants with CSS Grid Layout
  src/layout/row/__snapshots__/row.test.tsx.snap
  src/layout/row/row.styles.tsx
  src/layout/row/row.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(seo): add page title to static pages
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/haiku.tsx
  src/pages/journal.tsx
  src/pages/traditional-colors-of-japan.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(projects): add Iga Ninja Font project
  content/assets/images/projects/ingo-iga-ninja-cipher.jpg
  src/pages/projects.tsx
  src/screens/projects/iga-ninja-font/__snapshots__/iga-ninja-font.test.tsx.snap
  src/screens/projects/iga-ninja-font/iga-ninja-font.styles.tsx
  src/screens/projects/iga-ninja-font/iga-ninja-font.test.tsx
  src/screens/projects/iga-ninja-font/iga-ninja-font.tsx
  src/screens/projects/iga-ninja-font/index.ts
  src/screens/projects/index.ts
  src/screens/projects/introduction/__snapshots__/introduction.test.tsx.snap
  src/screens/projects/introduction/introduction.test.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(image): add scale transition to image
  src/components/image/image.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(text-link): remove block-link component and replace with block variant
  src/components/download-link/__snapshots__/download-link.test.tsx.snap
  src/components/icon-link/__snapshots__/icon-link.test.tsx.snap
  src/components/more-link/__snapshots__/more-link.test.tsx.snap
  src/components/text-link/__snapshots__/text-link.test.tsx.snap
  src/components/text-link/text-link.stories.tsx
  src/components/text-link/text-link.styles.tsx
  src/components/text-link/text-link.test.tsx
  src/components/text-link/text-link.tsx
  src/layout/mdx-provider-container/shortcodes.tsx
  src/screens/about/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/about/photo/__snapshots__/photo.test.tsx.snap
  src/screens/haiku/haiku-image/__snapshots__/haiku-image.test.tsx.snap
  src/screens/haiku/my-haiku/__snapshots__/my-haiku.test.tsx.snap
  src/screens/homepage/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/homepage/cover-image/__snapshots__/cover-image.test.tsx.snap
  src/screens/journal-detail/meta/__snapshots__/meta.test.tsx.snap
  src/screens/journal/all-posts/__snapshots__/all-posts.test.tsx.snap
  src/screens/journal/introduction/__snapshots__/introduction.test.tsx.snap
  src/screens/journal/monthly/__snapshots__/monthly.test.tsx.snap
  src/screens/projects/iga-ninja-font/__snapshots__/iga-ninja-font.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(projects): add TextBlock component
  src/screens/projects/text-block/__snapshots__/text-block.test.tsx.snap
  src/screens/projects/text-block/index.ts
  src/screens/projects/text-block/text-block.styles.tsx
  src/screens/projects/text-block/text-block.test.tsx
  src/screens/projects/text-block/text-block.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(image): replace all custom images with Image component
  src/screens/about/photo/__snapshots__/photo.test.tsx.snap
  src/screens/about/photo/photo.styles.tsx
  src/screens/about/photo/photo.test.tsx
  src/screens/about/photo/photo.tsx
  src/screens/about/photo/portrait-photo.tsx
  src/screens/haiku/haiku-image/__snapshots__/haiku-image.test.tsx.snap
  src/screens/haiku/haiku-image/forest-image.tsx
  src/screens/haiku/haiku-image/haiku-image.styles.tsx
  src/screens/haiku/haiku-image/haiku-image.test.tsx
  src/screens/haiku/haiku-image/haiku-image.tsx
  src/screens/homepage/cover-image/__snapshots__/cover-image.test.tsx.snap
  src/screens/homepage/cover-image/bosai-image.tsx
  src/screens/homepage/cover-image/cover-image.styles.tsx
  src/screens/homepage/cover-image/cover-image.test.tsx
  src/screens/homepage/cover-image/cover-image.tsx
  src/screens/journal-detail/cover-image/cover-image.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(projects): add title and introduction
  src/screens/projects/introduction/__snapshots__/introduction.test.tsx.snap
  src/screens/projects/introduction/index.ts
  src/screens/projects/introduction/introduction.styles.tsx
  src/screens/projects/introduction/introduction.test.tsx
  src/screens/projects/introduction/introduction.tsx
  src/screens/projects/title/__snapshots__/title.test.tsx.snap
  src/screens/projects/title/index.ts
  src/screens/projects/title/title.styles.tsx
  src/screens/projects/title/title.test.tsx
  src/screens/projects/title/title.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(projects): add download link to Iga Ninja Font section
  src/screens/projects/iga-ninja-font/iga-ninja-font.tsx
  src/screens/projects/introduction/__snapshots__/introduction.test.tsx.snap
  src/screens/projects/introduction/introduction.tsx
  static/downloads/ingo-iga-ninja-font.zip
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(image): add Image component
  jest.config.js
  src/components/image/image.styles.tsx
  src/components/image/image.tsx
  src/components/image/index.ts
  src/layout/styles/global.css
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(row): reduce amount of row options by moving alignment into separate property
  src/layout/row/__snapshots__/row.test.tsx.snap
  src/layout/row/row.stories.tsx
  src/layout/row/row.styles.tsx
  src/layout/row/row.test.tsx
  src/layout/row/row.tsx
  src/screens/projects/iga-ninja-font/__snapshots__/iga-ninja-font.test.tsx.snap
  src/screens/projects/iga-ninja-font/iga-ninja-font.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(color-swatch): improve card size of component
  src/components/color-swatch/__snapshots__/color-swatch.test.tsx.snap
  src/components/color-swatch/color-swatch.styles.tsx
  src/screens/traditional-colors-of-japan/color-grid/__snapshots__/color-grid.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(projects): add Journal, Haiku, Traditional Colors of Japan and Book Cover
  acronyms.json
  content/assets/images/projects/book-cover.jpg
  src/pages/projects.tsx
  src/screens/projects/book-cover/__snapshots__/book-cover.test.tsx.snap
  src/screens/projects/book-cover/book-cover.styles.tsx
  src/screens/projects/book-cover/book-cover.test.tsx
  src/screens/projects/book-cover/book-cover.tsx
  src/screens/projects/book-cover/index.ts
  src/screens/projects/iga-ninja-font/iga-ninja-font.tsx
  src/screens/projects/index.ts
  src/screens/projects/introduction/__snapshots__/introduction.test.tsx.snap
  src/screens/projects/introduction/introduction.tsx
  src/screens/projects/japanese-color/__snapshots__/japanese-color.test.tsx.snap
  src/screens/projects/japanese-color/index.ts
  src/screens/projects/japanese-color/japanese-color.styles.tsx
  src/screens/projects/japanese-color/japanese-color.test.tsx
  src/screens/projects/japanese-color/japanese-color.tsx
  src/screens/projects/small-print/__snapshots__/small-print.test.tsx.snap
  src/screens/projects/small-print/index.ts
  src/screens/projects/small-print/small-print.styles.tsx
  src/screens/projects/small-print/small-print.test.tsx
  src/screens/projects/small-print/small-print.tsx
  src/screens/projects/writing/__snapshots__/writing.test.tsx.snap
  src/screens/projects/writing/index.ts
  src/screens/projects/writing/writing.test.tsx
  src/screens/projects/writing/writing.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: minimize images
  content/assets/images/bonsai.jpg
  content/assets/images/forest.jpg
  content/assets/images/portrait-stefan-imhoff.jpg
  content/assets/images/projects/book-cover.jpg
  content/assets/images/projects/ingo-iga-ninja-cipher.jpg
  content/showcases/koi-illustration/cover.jpg
  content/showcases/koi-illustration/koi-making-of-01.jpg
  content/showcases/koi-illustration/koi-making-of-02.jpg
  content/showcases/koi-illustration/koi-making-of-03.jpg
  content/showcases/koi-illustration/koi-making-of-04.jpg
  content/showcases/koi-illustration/koi-making-of-05.jpg
  content/showcases/koi-illustration/koi-making-of-06.jpg
  content/showcases/koi-illustration/koi-making-of-07.jpg
  content/showcases/koi-illustration/koi-making-of-08.jpg
  content/showcases/koi-illustration/koi-making-of-09.jpg
  content/showcases/koi-illustration/koi-making-of-10.jpg
  content/showcases/koi-illustration/koi-making-of-11.jpg
  content/showcases/koi-illustration/koi-making-of-12.jpg
  content/showcases/koi-illustration/koi-making-of-13.jpg
  content/showcases/koi-illustration/koi-making-of-14.jpg
  content/showcases/koi-illustration/koi-making-of-15.jpg
  content/showcases/koi-illustration/koi-making-of-16.jpg
  content/showcases/koi-illustration/koi-making-of-17.jpg
  content/showcases/koi-illustration/koi-making-of-18.jpg
  content/showcases/koi-illustration/koi-making-of-19.jpg
  content/showcases/koi-illustration/koi-making-of-20.jpg
Due: none

chore: move images into subfolder
  content/showcases/koi-illustration/images/cover.jpg
  content/showcases/koi-illustration/images/koi-making-of-01.jpg
  content/showcases/koi-illustration/images/koi-making-of-02.jpg
  content/showcases/koi-illustration/images/koi-making-of-03.jpg
  content/showcases/koi-illustration/images/koi-making-of-04.jpg
  content/showcases/koi-illustration/images/koi-making-of-05.jpg
  content/showcases/koi-illustration/images/koi-making-of-06.jpg
  content/showcases/koi-illustration/images/koi-making-of-07.jpg
  content/showcases/koi-illustration/images/koi-making-of-08.jpg
  content/showcases/koi-illustration/images/koi-making-of-09.jpg
  content/showcases/koi-illustration/images/koi-making-of-10.jpg
  content/showcases/koi-illustration/images/koi-making-of-11.jpg
  content/showcases/koi-illustration/images/koi-making-of-12.jpg
  content/showcases/koi-illustration/images/koi-making-of-13.jpg
  content/showcases/koi-illustration/images/koi-making-of-14.jpg
  content/showcases/koi-illustration/images/koi-making-of-15.jpg
  content/showcases/koi-illustration/images/koi-making-of-16.jpg
  content/showcases/koi-illustration/images/koi-making-of-17.jpg
  content/showcases/koi-illustration/images/koi-making-of-18.jpg
  content/showcases/koi-illustration/images/koi-making-of-19.jpg
  content/showcases/koi-illustration/images/koi-making-of-20.jpg
  content/showcases/koi-illustration/index.md
Due: prettier --parser mdx --write

feat(showcase): add setup for showcase pages and add first showcase
  content/showcases/koi-illustration/cover.jpg
  content/showcases/koi-illustration/index.md
  content/showcases/koi-illustration/koi-making-of-01.jpg
  content/showcases/koi-illustration/koi-making-of-02.jpg
  content/showcases/koi-illustration/koi-making-of-03.jpg
  content/showcases/koi-illustration/koi-making-of-04.jpg
  content/showcases/koi-illustration/koi-making-of-05.jpg
  content/showcases/koi-illustration/koi-making-of-06.jpg
  content/showcases/koi-illustration/koi-making-of-07.jpg
  content/showcases/koi-illustration/koi-making-of-08.jpg
  content/showcases/koi-illustration/koi-making-of-09.jpg
  content/showcases/koi-illustration/koi-making-of-10.jpg
  content/showcases/koi-illustration/koi-making-of-11.jpg
  content/showcases/koi-illustration/koi-making-of-12.jpg
  content/showcases/koi-illustration/koi-making-of-13.jpg
  content/showcases/koi-illustration/koi-making-of-14.jpg
  content/showcases/koi-illustration/koi-making-of-15.jpg
  content/showcases/koi-illustration/koi-making-of-16.jpg
  content/showcases/koi-illustration/koi-making-of-17.jpg
  content/showcases/koi-illustration/koi-making-of-18.jpg
  content/showcases/koi-illustration/koi-making-of-19.jpg
  content/showcases/koi-illustration/koi-making-of-20.jpg
  gatsby-config.js
  gatsby-node.js
  src/layout/styles/global.css
  src/screens/showcase/body/body.styles.tsx
  src/screens/showcase/body/body.tsx
  src/screens/showcase/body/index.ts
  src/screens/showcase/index.ts
  src/screens/showcase/title/__snapshots__/title.test.tsx.snap
  src/screens/showcase/title/index.ts
  src/screens/showcase/title/title.styles.tsx
  src/screens/showcase/title/title.test.tsx
  src/screens/showcase/title/title.tsx
  src/templates/showcase.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

chore: rename image components
  src/screens/projects/book-cover/book-cover.styles.tsx
  src/screens/projects/book-cover/book-cover.tsx
  src/screens/projects/iga-ninja-font/iga-ninja-font.styles.tsx
  src/screens/projects/iga-ninja-font/iga-ninja-font.tsx
  src/screens/projects/writing/__snapshots__/writing.test.tsx.snap
  src/screens/projects/writing/writing.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(projects): add Koi Illustration project
  content/assets/images/projects/koi-illustration.jpg
  content/showcases/koi-illustration/index.md
  src/pages/projects.tsx
  src/screens/projects/index.ts
  src/screens/projects/koi-illustration/__snapshots__/koi-illustration.test.tsx.snap
  src/screens/projects/koi-illustration/index.ts
  src/screens/projects/koi-illustration/koi-illustration.styles.tsx
  src/screens/projects/koi-illustration/koi-illustration.test.tsx
  src/screens/projects/koi-illustration/koi-illustration.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

chore(projects): remove unnecessary things
  src/screens/projects/iga-ninja-font/__snapshots__/iga-ninja-font.test.tsx.snap
  src/screens/projects/iga-ninja-font/iga-ninja-font.tsx
  src/screens/projects/japanese-color/__snapshots__/japanese-color.test.tsx.snap
  src/screens/projects/japanese-color/japanese-color.tsx
  src/screens/projects/writing/__snapshots__/writing.test.tsx.snap
  src/screens/projects/writing/writing.tsx
  static/downloads/ingo-iga-ninja-font.zip
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: change width of color swatch
  src/components/color-swatch/__snapshots__/color-swatch.test.tsx.snap
  src/components/color-swatch/color-swatch.styles.tsx
  src/screens/traditional-colors-of-japan/color-grid/__snapshots__/color-grid.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(projects): add Bamboo illustration project
  src/pages/projects.tsx
  src/screens/projects/bamboo-illustration/__snapshots__/bamboo-illustration.test.tsx.snap
  src/screens/projects/bamboo-illustration/bamboo-illustration.styles.tsx
  src/screens/projects/bamboo-illustration/bamboo-illustration.svg
  src/screens/projects/bamboo-illustration/bamboo-illustration.test.tsx
  src/screens/projects/bamboo-illustration/bamboo-illustration.tsx
  src/screens/projects/bamboo-illustration/index.ts
  src/screens/projects/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  jest --findRelatedTests: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  prettier --parser mdx --write: any of: *.{mdx,md}
