Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

chore: move images into subfolder
  content/showcases/koi-illustration/images/cover.jpg
  content/showcases/koi-illustration/images/koi-making-of-01.jpg
  content/showcases/koi-illustration/images/koi-making-of-02.jpg
  content/showcases/koi-illustration/images/koi-making-of-03.jpg
  content/showcases/koi-illustration/images/koi-making-of-04.jpg
  content/showcases/koi-illustration/images/koi-making-of-05.jpg
  content/showcases/koi-illustration/images/koi-making-of-06.jpg
  content/showcases/koi-illustration/images/koi-making-of-07.jpg
  content/showcases/koi-illustration/images/koi-making-of-08.jpg
  content/showcases/koi-illustration/images/koi-making-of-09.jpg
  content/showcases/koi-illustration/images/koi-making-of-10.jpg
  content/showcases/koi-illustration/images/koi-making-of-11.jpg
  content/showcases/koi-illustration/images/koi-making-of-12.jpg
  content/showcases/koi-illustration/images/koi-making-of-13.jpg
  content/showcases/koi-illustration/images/koi-making-of-14.jpg
  content/showcases/koi-illustration/images/koi-making-of-15.jpg
  content/showcases/koi-illustration/images/koi-making-of-16.jpg
  content/showcases/koi-illustration/images/koi-making-of-17.jpg
  content/showcases/koi-illustration/images/koi-making-of-18.jpg
  content/showcases/koi-illustration/images/koi-making-of-19.jpg
  content/showcases/koi-illustration/images/koi-making-of-20.jpg
  content/showcases/koi-illustration/index.md
Due: prettier --parser mdx --write

feat(projects): add Koi Illustration project
  content/assets/images/projects/koi-illustration.jpg
  content/showcases/koi-illustration/index.md
  src/pages/projects.tsx
  src/screens/projects/index.ts
  src/screens/projects/koi-illustration/__snapshots__/koi-illustration.test.tsx.snap
  src/screens/projects/koi-illustration/index.ts
  src/screens/projects/koi-illustration/koi-illustration.styles.tsx
  src/screens/projects/koi-illustration/koi-illustration.test.tsx
  src/screens/projects/koi-illustration/koi-illustration.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

refactor(image): add scale transition to image
  src/components/image/image.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: rename image components
  src/screens/projects/book-cover/book-cover.styles.tsx
  src/screens/projects/book-cover/book-cover.tsx
  src/screens/projects/iga-ninja-font/iga-ninja-font.styles.tsx
  src/screens/projects/iga-ninja-font/iga-ninja-font.tsx
  src/screens/projects/writing/__snapshots__/writing.test.tsx.snap
  src/screens/projects/writing/writing.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(projects): remove unnecessary things
  src/screens/projects/iga-ninja-font/__snapshots__/iga-ninja-font.test.tsx.snap
  src/screens/projects/iga-ninja-font/iga-ninja-font.tsx
  src/screens/projects/japanese-color/__snapshots__/japanese-color.test.tsx.snap
  src/screens/projects/japanese-color/japanese-color.tsx
  src/screens/projects/writing/__snapshots__/writing.test.tsx.snap
  src/screens/projects/writing/writing.tsx
  static/downloads/ingo-iga-ninja-font.zip
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(projects): add Journal, Haiku, Traditional Colors of Japan and Book Cover
  acronyms.json
  content/assets/images/projects/book-cover.jpg
  src/pages/projects.tsx
  src/screens/projects/book-cover/__snapshots__/book-cover.test.tsx.snap
  src/screens/projects/book-cover/book-cover.styles.tsx
  src/screens/projects/book-cover/book-cover.test.tsx
  src/screens/projects/book-cover/book-cover.tsx
  src/screens/projects/book-cover/index.ts
  src/screens/projects/iga-ninja-font/iga-ninja-font.tsx
  src/screens/projects/index.ts
  src/screens/projects/introduction/__snapshots__/introduction.test.tsx.snap
  src/screens/projects/introduction/introduction.tsx
  src/screens/projects/japanese-color/__snapshots__/japanese-color.test.tsx.snap
  src/screens/projects/japanese-color/index.ts
  src/screens/projects/japanese-color/japanese-color.styles.tsx
  src/screens/projects/japanese-color/japanese-color.test.tsx
  src/screens/projects/japanese-color/japanese-color.tsx
  src/screens/projects/small-print/__snapshots__/small-print.test.tsx.snap
  src/screens/projects/small-print/index.ts
  src/screens/projects/small-print/small-print.styles.tsx
  src/screens/projects/small-print/small-print.test.tsx
  src/screens/projects/small-print/small-print.tsx
  src/screens/projects/writing/__snapshots__/writing.test.tsx.snap
  src/screens/projects/writing/index.ts
  src/screens/projects/writing/writing.test.tsx
  src/screens/projects/writing/writing.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(projects): add Bamboo illustration project
  src/pages/projects.tsx
  src/screens/projects/bamboo-illustration/__snapshots__/bamboo-illustration.test.tsx.snap
  src/screens/projects/bamboo-illustration/bamboo-illustration.styles.tsx
  src/screens/projects/bamboo-illustration/bamboo-illustration.svg
  src/screens/projects/bamboo-illustration/bamboo-illustration.test.tsx
  src/screens/projects/bamboo-illustration/bamboo-illustration.tsx
  src/screens/projects/bamboo-illustration/index.ts
  src/screens/projects/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(seo): add page title to static pages
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/haiku.tsx
  src/pages/journal.tsx
  src/pages/traditional-colors-of-japan.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(projects): add TextBlock component
  src/screens/projects/text-block/__snapshots__/text-block.test.tsx.snap
  src/screens/projects/text-block/index.ts
  src/screens/projects/text-block/text-block.styles.tsx
  src/screens/projects/text-block/text-block.test.tsx
  src/screens/projects/text-block/text-block.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(showcase): add setup for showcase pages and add first showcase
  content/showcases/koi-illustration/cover.jpg
  content/showcases/koi-illustration/index.md
  content/showcases/koi-illustration/koi-making-of-01.jpg
  content/showcases/koi-illustration/koi-making-of-02.jpg
  content/showcases/koi-illustration/koi-making-of-03.jpg
  content/showcases/koi-illustration/koi-making-of-04.jpg
  content/showcases/koi-illustration/koi-making-of-05.jpg
  content/showcases/koi-illustration/koi-making-of-06.jpg
  content/showcases/koi-illustration/koi-making-of-07.jpg
  content/showcases/koi-illustration/koi-making-of-08.jpg
  content/showcases/koi-illustration/koi-making-of-09.jpg
  content/showcases/koi-illustration/koi-making-of-10.jpg
  content/showcases/koi-illustration/koi-making-of-11.jpg
  content/showcases/koi-illustration/koi-making-of-12.jpg
  content/showcases/koi-illustration/koi-making-of-13.jpg
  content/showcases/koi-illustration/koi-making-of-14.jpg
  content/showcases/koi-illustration/koi-making-of-15.jpg
  content/showcases/koi-illustration/koi-making-of-16.jpg
  content/showcases/koi-illustration/koi-making-of-17.jpg
  content/showcases/koi-illustration/koi-making-of-18.jpg
  content/showcases/koi-illustration/koi-making-of-19.jpg
  content/showcases/koi-illustration/koi-making-of-20.jpg
  gatsby-config.js
  gatsby-node.js
  src/layout/styles/global.css
  src/screens/showcase/body/body.styles.tsx
  src/screens/showcase/body/body.tsx
  src/screens/showcase/body/index.ts
  src/screens/showcase/index.ts
  src/screens/showcase/title/__snapshots__/title.test.tsx.snap
  src/screens/showcase/title/index.ts
  src/screens/showcase/title/title.styles.tsx
  src/screens/showcase/title/title.test.tsx
  src/screens/showcase/title/title.tsx
  src/templates/showcase.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

refactor(row): replace Flexbox in variable row variants with CSS Grid Layout
  src/layout/row/__snapshots__/row.test.tsx.snap
  src/layout/row/row.styles.tsx
  src/layout/row/row.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(text-link): remove block-link component and replace with block variant
  src/components/download-link/__snapshots__/download-link.test.tsx.snap
  src/components/icon-link/__snapshots__/icon-link.test.tsx.snap
  src/components/more-link/__snapshots__/more-link.test.tsx.snap
  src/components/text-link/__snapshots__/text-link.test.tsx.snap
  src/components/text-link/text-link.stories.tsx
  src/components/text-link/text-link.styles.tsx
  src/components/text-link/text-link.test.tsx
  src/components/text-link/text-link.tsx
  src/layout/mdx-provider-container/shortcodes.tsx
  src/screens/about/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/about/photo/__snapshots__/photo.test.tsx.snap
  src/screens/haiku/haiku-image/__snapshots__/haiku-image.test.tsx.snap
  src/screens/haiku/my-haiku/__snapshots__/my-haiku.test.tsx.snap
  src/screens/homepage/about-me/__snapshots__/about-me.test.tsx.snap
  src/screens/homepage/cover-image/__snapshots__/cover-image.test.tsx.snap
  src/screens/journal-detail/meta/__snapshots__/meta.test.tsx.snap
  src/screens/journal/all-posts/__snapshots__/all-posts.test.tsx.snap
  src/screens/journal/introduction/__snapshots__/introduction.test.tsx.snap
  src/screens/journal/monthly/__snapshots__/monthly.test.tsx.snap
  src/screens/projects/iga-ninja-font/__snapshots__/iga-ninja-font.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix(journal): filter out all mdx files that are not journal posts
  package.json
  src/hooks/use-all-journal-posts-query.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix: a few bugs
  content/sketchnotes/the-art-of-enough/1.jpg
  content/sketchnotes/wim-hof-method/1.jpg
  src/screens/projects/book-kogakure/__snapshots__/book-kogakure.test.tsx.snap
  src/screens/projects/book-kogakure/book-kogakure.tsx
  src/screens/projects/hamburg-blog/__snapshots__/hamburg-blog.test.tsx.snap
  src/screens/projects/hamburg-blog/hamburg-blog.tsx
  src/screens/projects/koi-illustration/koi-illustration.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: change Prettier settings and get OG data
  .prettierrc.json
  src/layout/styles/global.css
  src/templates/journal.tsx
  src/typings/graphql/post.d.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(journal): add posts of 2007
  content/posts/2007/domain-hosting/index.md
  content/posts/2007/gtd/gtd-after.jpg
  content/posts/2007/gtd/gtd-before.jpg
  content/posts/2007/gtd/index.md
  content/posts/2007/japanese-colors/index.md
  content/posts/2007/koi-design/design-koi.jpg
  content/posts/2007/koi-design/index.md
  content/posts/2007/koi-design/suikoden-luta.jpg
  content/posts/2019/post-2/index.md
  content/posts/2019/recommendation/index.md
Due: prettier --parser mdx --write

refactor(shortcodes): change headline weight for Markdown files
  src/layout/mdx-provider-container/shortcodes.tsx
  src/pages/imprint.mdx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

fix: add missing GraphQL query data for OG image
  src/templates/journal.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix: remove extra CSS rule
  src/screens/journal-detail/post/post.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix(code-block): set width of code block explicitly to prevent breaking of layout
  src/layout/styles/global.css
Due: prettier --write, jest --findRelatedTests

chore(prettier): change prettier formatting rules for Markdown files
  content/sketchnotes/being-a-good-listener/index.md
  content/sketchnotes/better-conversation/index.md
  content/sketchnotes/bikablo-practice/index.md
  content/sketchnotes/how-to-speak/index.md
  content/sketchnotes/random-sketches/index.md
  content/sketchnotes/self-actualization/index.md
  content/sketchnotes/the-art-of-enough/index.md
  content/sketchnotes/this-is-water/index.md
  content/sketchnotes/title-lettering/index.md
  content/sketchnotes/weight-idea/index.md
  content/sketchnotes/wim-hof-method/index.md
Due: prettier --parser mdx --write

chore(journal): change headlines for articles
  content/posts/2007/domain-hosting/index.md
  content/posts/2007/gtd/index.md
  content/posts/2007/japanese-colors/index.md
  content/posts/2007/koi-design/index.md
  content/posts/2018/post-1/index.md
Due: prettier --parser mdx --write

feat(journal): add articles from 2008
  content/posts/2008/openstreetmap/index.md
  content/posts/2008/openstreetmap/openstreetmap.jpg
Due: prettier --parser mdx --write

feat(journal): add articles from 2009
  content/posts/2009/git/index.md
  content/posts/2009/gitweb-theme/gitweb-theme-commit.png
  content/posts/2009/gitweb-theme/gitweb-theme-commitdiff.png
  content/posts/2009/gitweb-theme/gitweb-theme-log.png
  content/posts/2009/gitweb-theme/gitweb-theme-projects.png
  content/posts/2009/gitweb-theme/gitweb-theme-summary.png
  content/posts/2009/gitweb-theme/gitweb-theme-tree.png
  content/posts/2009/gitweb-theme/index.md
  content/posts/2009/home-documentary/home.jpg
  content/posts/2009/home-documentary/index.md
Due: prettier --parser mdx --write

feat(journal): add articles fof 2010
  content/posts/2010/rework/index.md
  content/posts/2010/rework/rework.jpg
  content/posts/2010/vim/index.md
  content/posts/2010/vim/vim-vintage.jpg
  content/posts/2010/webstandards-magazine-django/index.md
  content/posts/2010/webstandards-magazine-django/webstandards-magazine-django.jpg
Due: prettier --parser mdx --write

feat(journal): add articles from 2011
  content/posts/2011/decodeunicode/decodeunicode.jpg
  content/posts/2011/decodeunicode/index.md
Due: prettier --parser mdx --write

feat(banner): add a simple Banner component
  src/components/banner/__snapshots__/banner.test.tsx.snap
  src/components/banner/banner.stories.tsx
  src/components/banner/banner.styles.tsx
  src/components/banner/banner.test.tsx
  src/components/banner/banner.tsx
  src/components/banner/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(sample): add missing Sample and Variable components mapping to shortcodes
  src/components/sample/__snapshots__/sample.test.tsx.snap
  src/components/sample/sample.styles.tsx
  src/layout/mdx-provider-container/shortcodes.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(horizontal-rule): change length of divider
  src/components/horizontal-rule/__snapshots__/horizontal-rule.test.tsx.snap
  src/components/horizontal-rule/horizontal-rule.styles.tsx
  src/screens/cv/divider/__snapshots__/divider.test.tsx.snap
  src/screens/journal-detail/footer/__snapshots__/footer.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(inline-code): make sure inline code doesn’t break between lines
  src/components/inline-code/__snapshots__/inline-code.test.tsx.snap
  src/components/inline-code/inline-code.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(variable): make sure variable doesn’t break between lines
  src/components/variable/__snapshots__/variable.test.tsx.snap
  src/components/variable/variable.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: remove gatsby-remark-acronyms
  acronyms.json
  gatsby-config.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(journal): add articles from 2014
  content/posts/2014/brew-automatic-installation/index.md
  content/posts/2014/gulp-tutorial-1-intro-setup/gulp-tutorial-1.png
  content/posts/2014/gulp-tutorial-1-intro-setup/index.md
  content/posts/2014/gulp-tutorial-10-generating-sprites/gulp-tutorial-10.jpg
  content/posts/2014/gulp-tutorial-10-generating-sprites/index.md
  content/posts/2014/gulp-tutorial-11-production-build-server-and-jekyll/gulp-tutorial-11.jpg
  content/posts/2014/gulp-tutorial-11-production-build-server-and-jekyll/index.md
  content/posts/2014/gulp-tutorial-12-optimize-css-javascript-images-and-html/gulp-tutorial-12.jpg
  content/posts/2014/gulp-tutorial-12-optimize-css-javascript-images-and-html/index.md
  content/posts/2014/gulp-tutorial-13-revisioning/gulp-tutorial-13.jpg
  content/posts/2014/gulp-tutorial-13-revisioning/index.md
  content/posts/2014/gulp-tutorial-14-deploying-the-website/gulp-tutorial-14.jpg
  content/posts/2014/gulp-tutorial-14-deploying-the-website/index.md
  content/posts/2014/gulp-tutorial-15-performance-improvements-webp-gzip/gulp-tutorial-15.jpg
  content/posts/2014/gulp-tutorial-15-performance-improvements-webp-gzip/index.md
  content/posts/2014/gulp-tutorial-2-development-server-browsersync-configuration/gulp-tutorial-2.jpg
  content/posts/2014/gulp-tutorial-2-development-server-browsersync-configuration/index.md
  content/posts/2014/gulp-tutorial-3-build-clean-jekyll/gulp-tutorial-3.jpg
  content/posts/2014/gulp-tutorial-3-build-clean-jekyll/index.md
  content/posts/2014/gulp-tutorial-4-css-generation-sass/gulp-tutorial-4.jpg
  content/posts/2014/gulp-tutorial-4-css-generation-sass/index.md
  content/posts/2014/gulp-tutorial-5-javascripts-browserify/gulp-tutorial-5.jpg
  content/posts/2014/gulp-tutorial-5-javascripts-browserify/index.md
  content/posts/2014/gulp-tutorial-6-images-vector-fonts/gulp-tutorial-6.jpg
  content/posts/2014/gulp-tutorial-6-images-vector-fonts/index.md
  content/posts/2014/gulp-tutorial-7-base64/gulp-tutorial-7.jpg
  content/posts/2014/gulp-tutorial-7-base64/index.md
  content/posts/2014/gulp-tutorial-8-watch/gulp-tutorial-8.jpg
  content/posts/2014/gulp-tutorial-8-watch/index.md
  content/posts/2014/gulp-tutorial-9-linting-scss-and-javascript/gulp-tutorial-9.jpg
  content/posts/2014/gulp-tutorial-9-linting-scss-and-javascript/index.md
  content/posts/2014/john-seymour-books/index.md
  content/posts/2014/john-seymour-books/john-seymour-illustration.jpg
  content/posts/2014/logo-design/index.md
  content/posts/2014/logo-design/moleskine-pencil-drawings.jpg
  content/posts/2014/logo-design/rakkan.jpg
  content/posts/2014/website-typography/elements-of-typographic-style.jpg
  content/posts/2014/website-typography/index.md
Due: prettier --parser mdx --write

feat(journal): add articles from 2015
  content/posts/2015/calisthenics/calisthenics-arm-elbow-lever.jpg
  content/posts/2015/calisthenics/calisthenics-best-dad-ever.jpg
  content/posts/2015/calisthenics/calisthenics-human-flag.jpg
  content/posts/2015/calisthenics/index.md
  content/posts/2015/gulp-tutorial-16-postcss/gulp-tutorial-16.jpg
  content/posts/2015/gulp-tutorial-16-postcss/index.md
  content/posts/2015/gulp-tutorial-16-postcss/postcss-logo.svg
  content/posts/2015/human-documentary/human.jpg
  content/posts/2015/human-documentary/index.md
  content/posts/2015/motivational-video/index.md
  content/posts/2015/motivational-video/motivational-video.jpg
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/index.md
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/kogakure-de-bamboo-affinity-designer.jpg
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/kogakure-de-grids.jpg
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/kogakure-de-relaunch.jpg
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/kogakure-de-v1.jpg
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/kogakure-de-v2.jpg
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/kogakure-de-v3.jpg
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/kogakure-de-v4.jpg
  content/posts/2015/responsive-relaunch-of-my-martial-arts-website/kogakure-de-v5.jpg
Due: prettier --parser mdx --write

feat(journal): add articles from 2016
  content/posts/2016/japanese-netflix-tv-show-underwear/index.md
  content/posts/2016/japanese-netflix-tv-show-underwear/netflix-underwear.jpg
  content/posts/2016/jekyll-hugo-migration/index.md
  content/posts/2016/speed-up-videos/index.md
Due: prettier --parser mdx --write

feat(journal): add articles from 2017
  content/posts/2017/attention/attention.jpg
  content/posts/2017/attention/index.md
  content/posts/2017/gitbook/gitbook-kogakure.jpg
  content/posts/2017/gitbook/index.md
  content/posts/2017/minimalism/gtd-vorher.jpg
  content/posts/2017/minimalism/index.md
  content/posts/2017/minimalism/minimalism-cleanup-cellar.jpg
  content/posts/2017/minimalism/minimalism-living.jpg
  content/posts/2017/minimalism/minimalism-office.jpg
  content/posts/2017/website-relaunch-css-grid-layout/css-grid-inspector.jpg
  content/posts/2017/website-relaunch-css-grid-layout/index.md
  content/posts/2017/website-relaunch-css-grid-layout/kogakure-2017.jpg
Due: prettier --parser mdx --write

feat(journal): add articles from 2018
  content/posts/2018/morning-routine/bed-book-journal.jpg
  content/posts/2018/morning-routine/index.md
  content/posts/2018/post-1/gatsby-astronaut.png
  content/posts/2018/post-1/index.md
  content/posts/2018/storing-information/book-store.jpg
  content/posts/2018/storing-information/index.md
Due: prettier --parser mdx --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  jest --findRelatedTests: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  prettier --parser mdx --write: any of: *.{mdx,md}
