Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "stylelint --fix"],
  "*.{js,jsx,ts,tsx,css,d.ts,json}": [
    "prettier --write",
    "jest --findRelatedTests"
  ],
  "*.{mdx,md}": ["prettier --parser mdx --write"]
}

feat(minimal-layout): add a new layout without footer and navigation
  src/layout/minimal-layout/__snapshots__/minimal-layout.test.tsx.snap
  src/layout/minimal-layout/index.ts
  src/layout/minimal-layout/minimal-layout.styles.tsx
  src/layout/minimal-layout/minimal-layout.test.tsx
  src/layout/minimal-layout/minimal-layout.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(haiku): add layout components for Haiku detail pages
  src/screens/haiku/haiku-cell/__snapshots__/haiku-cell.test.tsx.snap
  src/screens/haiku/haiku-cell/haiku-cell.styles.tsx
  src/screens/haiku/haiku-cell/haiku-cell.test.tsx
  src/screens/haiku/haiku-cell/haiku-cell.tsx
  src/screens/haiku/haiku-cell/index.ts
  src/screens/haiku/haiku-grid/__snapshots__/haiku-grid.test.tsx.snap
  src/screens/haiku/haiku-grid/haiku-grid.styles.tsx
  src/screens/haiku/haiku-grid/haiku-grid.test.tsx
  src/screens/haiku/haiku-grid/haiku-grid.tsx
  src/screens/haiku/haiku-grid/index.ts
  src/screens/haiku/index.ts
  src/templates/haiku.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(icons): add two icons for paginations
  content/assets/images/bonsai.jpg
  content/assets/images/forest.jpg
  content/assets/images/portrait-stefan-imhoff.jpg
  src/components/icons/arrow-left-s.stories.tsx
  src/components/icons/arrow-left-s.tsx
  src/components/icons/arrow-right-s.stories.tsx
  src/components/icons/arrow-right-s.tsx
  src/components/icons/arrow-right.stories.tsx
  src/components/icons/index.tsx
  src/components/icons/svg/arrow-left-s.svg
  src/components/icons/svg/arrow-right-s.svg
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(pagination): add pagination component and add it to Haiku detail pages
  gatsby-node.js
  src/components/icons/__snapshots__/icons.test.tsx.snap
  src/components/icons/icons.test.tsx
  src/layout/index.ts
  src/layout/pagination/__snapshots__/pagination.test.tsx.snap
  src/layout/pagination/index.ts
  src/layout/pagination/pagination.stories.tsx
  src/layout/pagination/pagination.styles.tsx
  src/layout/pagination/pagination.test.tsx
  src/layout/pagination/pagination.tsx
  src/templates/haiku.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(haiku): create Haiku detail pages and add content
  content/data/haiku.yml
  gatsby-node.js
  src/hooks/index.ts
  src/hooks/use-haiku-query.ts
  src/screens/haiku/my-haiku/__snapshots__/my-haiku.test.tsx.snap
  src/screens/haiku/my-haiku/my-haiku.test.tsx
  src/screens/haiku/my-haiku/my-haiku.tsx
  src/templates/haiku.tsx
  src/typings/graphql/haiku-page-context.d.ts
  src/typings/graphql/haiku.d.ts
  src/typings/graphql/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: remove exports from style files
  src/screens/404/haiku/haiku.styles.tsx
  src/screens/404/huge-404/huge-404.styles.tsx
  src/screens/404/title/title.styles.tsx
  src/screens/about/about-me/about-me.styles.tsx
  src/screens/about/about-website/about-website.styles.tsx
  src/screens/about/connect/connect.styles.tsx
  src/screens/about/contact/contact.styles.tsx
  src/screens/about/photo/photo.styles.tsx
  src/screens/about/title/title.styles.tsx
  src/screens/cv/divider/divider.styles.tsx
  src/screens/cv/main-column/main-column.styles.tsx
  src/screens/cv/personal/personal.styles.tsx
  src/screens/cv/side-column/side-column.styles.tsx
  src/screens/cv/summary/summary.styles.tsx
  src/screens/cv/title/title.styles.tsx
  src/screens/homepage/about-me/about-me.styles.tsx
  src/screens/homepage/cover-image/cover-image.styles.tsx
  src/screens/homepage/title/title.styles.tsx
  src/screens/homepage/what-i-do/__snapshots__/what-i-do.test.tsx.snap
  src/screens/homepage/what-i-do/what-i-do.styles.tsx
  src/screens/homepage/what-i-do/what-i-do.tsx
  src/screens/traditional-colors-of-japan/book/book.styles.tsx
  src/screens/traditional-colors-of-japan/color-grid/color-grid.styles.tsx
  src/screens/traditional-colors-of-japan/introduction/introduction.styles.tsx
  src/screens/traditional-colors-of-japan/title/title.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(haiku): add content for the Haiku index page
  content/assets/images/bonsai.jpg
  content/assets/images/forest.jpg
  content/data/haiku.yml
  src/layout/global-styles.ts
  src/layout/tokens/colors.ts
  src/pages/haiku.tsx
  src/pages/imprint.mdx
  src/screens/haiku/basho/__snapshots__/basho.test.tsx.snap
  src/screens/haiku/basho/basho.styles.tsx
  src/screens/haiku/basho/basho.test.tsx
  src/screens/haiku/basho/basho.tsx
  src/screens/haiku/basho/index.ts
  src/screens/haiku/books/__snapshots__/books.test.tsx.snap
  src/screens/haiku/books/books.styles.tsx
  src/screens/haiku/books/books.test.tsx
  src/screens/haiku/books/books.tsx
  src/screens/haiku/books/index.ts
  src/screens/haiku/haiku-image/__snapshots__/haiku-image.test.tsx.snap
  src/screens/haiku/haiku-image/forest-image.tsx
  src/screens/haiku/haiku-image/haiku-image.styles.tsx
  src/screens/haiku/haiku-image/haiku-image.test.tsx
  src/screens/haiku/haiku-image/haiku-image.tsx
  src/screens/haiku/haiku-image/index.ts
  src/screens/haiku/index.ts
  src/screens/haiku/introduction/__snapshots__/introduction.test.tsx.snap
  src/screens/haiku/introduction/index.ts
  src/screens/haiku/introduction/introduction.styles.tsx
  src/screens/haiku/introduction/introduction.test.tsx
  src/screens/haiku/introduction/introduction.tsx
  src/screens/haiku/my-haiku/__snapshots__/my-haiku.test.tsx.snap
  src/screens/haiku/my-haiku/index.ts
  src/screens/haiku/my-haiku/my-haiku.styles.tsx
  src/screens/haiku/my-haiku/my-haiku.test.tsx
  src/screens/haiku/my-haiku/my-haiku.tsx
  src/screens/haiku/title/__snapshots__/title.test.tsx.snap
  src/screens/haiku/title/index.ts
  src/screens/haiku/title/title.styles.tsx
  src/screens/haiku/title/title.test.tsx
  src/screens/haiku/title/title.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

chore: add noMargin option to list components
  src/components/ordered-list/ordered-list.styles.tsx
  src/components/ordered-list/ordered-list.tsx
  src/components/unordered-list/__snapshots__/unordered-list.test.tsx.snap
  src/components/unordered-list/unordered-list.stories.tsx
  src/components/unordered-list/unordered-list.styles.tsx
  src/components/unordered-list/unordered-list.test.tsx
  src/components/unordered-list/unordered-list.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(tokens): add new color value for Haiku detail pages
  src/layout/global-styles.ts
  src/layout/tokens/colors.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(haiku): add haiku as yaml data file
  content/data/haiku.yml
Due: none

refactor(layout): move default layout into separate folder
  src/layout/content-grid/content-grid.tsx
  src/layout/default-layout/__snapshots__/layout.test.tsx.snap
  src/layout/default-layout/index.ts
  src/layout/default-layout/layout.test.tsx
  src/layout/default-layout/layout.tsx
  src/layout/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

improvement(traditional-colors-of-japan): add second book
  src/pages/traditional-colors-of-japan.tsx
  src/screens/traditional-colors-of-japan/book/book.tsx
  src/screens/traditional-colors-of-japan/book/index.ts
  src/screens/traditional-colors-of-japan/books/__snapshots__/books.test.tsx.snap
  src/screens/traditional-colors-of-japan/books/books.styles.tsx
  src/screens/traditional-colors-of-japan/books/books.test.tsx
  src/screens/traditional-colors-of-japan/books/books.tsx
  src/screens/traditional-colors-of-japan/books/index.ts
  src/screens/traditional-colors-of-japan/index.ts
  src/screens/traditional-colors-of-japan/introduction/__snapshots__/introduction.test.tsx.snap
  src/screens/traditional-colors-of-japan/introduction/introduction.styles.tsx
  src/screens/traditional-colors-of-japan/introduction/introduction.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

refactor(header): add new navigation entry and improve display for small screens
  content/data/navigation.yml
  src/layout/default-layout/__snapshots__/layout.test.tsx.snap
  src/layout/header/__snapshots__/header.test.tsx.snap
  src/layout/header/header.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(journal): rename blog to journal
  gatsby-node.js
  plopfile.js
  src/pages/index.tsx
  src/templates/journal.tsx
  src/typings/graphql/posts.d.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(journal): add Journal index page with all posts and monthly recommendations
  content/posts/2018/post-1/index.md
  content/posts/2019/post-2/index.md
  content/posts/2019/post-3/index.md
  src/hooks/index.ts
  src/hooks/use-all-journal-posts-query.ts
  src/hooks/use-monthly-journal-posts-query.ts
  src/pages/index.tsx
  src/pages/journal.tsx
  src/screens/journal/all-posts/__snapshots__/all-posts.test.tsx.snap
  src/screens/journal/all-posts/all-posts.styles.tsx
  src/screens/journal/all-posts/all-posts.test.tsx
  src/screens/journal/all-posts/all-posts.tsx
  src/screens/journal/all-posts/index.ts
  src/screens/journal/index.ts
  src/screens/journal/introduction/__snapshots__/introduction.test.tsx.snap
  src/screens/journal/introduction/index.ts
  src/screens/journal/introduction/introduction.styles.tsx
  src/screens/journal/introduction/introduction.test.tsx
  src/screens/journal/introduction/introduction.tsx
  src/screens/journal/monthly/__snapshots__/monthly.test.tsx.snap
  src/screens/journal/monthly/index.ts
  src/screens/journal/monthly/monthly.styles.tsx
  src/screens/journal/monthly/monthly.test.tsx
  src/screens/journal/monthly/monthly.tsx
  src/screens/journal/title/__snapshots__/title.test.tsx.snap
  src/screens/journal/title/index.ts
  src/screens/journal/title/title.styles.tsx
  src/screens/journal/title/title.test.tsx
  src/screens/journal/title/title.tsx
  src/typings/graphql/index.ts
  src/typings/graphql/journal-posts.d.ts
  src/typings/graphql/monthly-journal-posts.d.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser mdx --write

chore(plop): update journal template
  scripts/templates/journal/index.mdx.txt
Due: none

chore(gatsby-remark-images): allow linking to original image
  gatsby-config.js
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(packages): upgrade patch version packages
  package.json
  yarn.lock
Due: prettier --write, jest --findRelatedTests

chore(packages): upgrade minor packages
  gatsby-config.js
  package.json
  src/components/attribution/attribution.test.tsx
  src/components/attribution/attribution.tsx
  src/components/icon-link/icon-link.tsx
  src/components/text-link/text-link.tsx
  src/layout/seo/seo.tsx
  src/services/__mocks__/generate-key.ts
  src/services/__tests__/generate-key.test.ts
  src/services/generate-key.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(packages): upgrade major packages
  .eslintrc.json
  .nvmrc
  package.json
  src/screens/haiku/basho/__snapshots__/basho.test.tsx.snap
  src/screens/haiku/basho/basho.tsx
  src/screens/haiku/my-haiku/__snapshots__/my-haiku.test.tsx.snap
  src/screens/haiku/my-haiku/my-haiku.tsx
  src/screens/journal/all-posts/__snapshots__/all-posts.test.tsx.snap
  src/screens/journal/all-posts/all-posts.tsx
  src/screens/journal/monthly/__snapshots__/monthly.test.tsx.snap
  src/screens/journal/monthly/monthly.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore: format yaml files with Prettier
  content/data/.gitkeep
  content/data/cv.yml
  content/data/haiku.yml
  content/data/japanese-color.yml
  content/data/navigation.yml
  content/data/social-media.yml
  package.json
Due: prettier --write, jest --findRelatedTests

refactor(row): add responsive breakpoints for mobile screen size
  src/layout/row/__snapshots__/row.test.tsx.snap
  src/layout/row/row.styles.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix(text): reorder and rewrite some sentences
  src/pages/imprint.mdx
Due: prettier --parser mdx --write

refactor(emojify): remove emoji unicode mapping
  package.json
  src/layout/emojify-toggle/__snapshots__/emojify-toggle.test.tsx.snap
  src/layout/emojify-toggle/emojify-toggle.tsx
  src/layout/emojify/__snapshots__/emojify.test.tsx.snap
  src/layout/emojify/emojify.stories.tsx
  src/layout/emojify/emojify.test.tsx
  src/layout/emojify/emojify.tsx
  src/typings/emoji-unicode-map.d.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests
