Repository kogakure/website-gatsby-stefanimhoff.de: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests, prettier --parser markdown --write

chore(package.json): change task to use yarn
  package.json
Due: prettier --write, jest --findRelatedTests

chore(typography): add top spacing to Headline and Subline components
  src/components/Typography/TypographyStyles.ts
  src/components/Typography/__snapshots__/Typography.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

fix(blocklink): remove console.log
  src/pages/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(typography): add basic TextLink component able to switch between a href and Link component
  src/components/Typography/Typography.tsx
  src/pages/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(textlink): change font-size and re-use CSS for both components
  src/components/TextLink/TextLink.styles.tsx
  src/components/TextLink/TextLink.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(textlink): add snapshot tests
  src/components/TextLink/TextLink.test.tsx
  src/components/TextLink/__snapshots__/TextLink.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test: update some tests to be shorter
  src/components/ColorSwatch/ColorSwatch.test.tsx
  src/components/EmojifyToggle/EmojifyToggle.test.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(lists): add examples for different kind of lists to styleguide
  src/pages/styleguide.mdx
Due: prettier --parser markdown --write

chore(yarn): update yarn.lock
  yarn.lock
Due: none

docs(styleguide): add code examples for lists
  src/pages/styleguide.mdx
Due: prettier --parser markdown --write

chore(tokens): add new color tokens and change color names
  src/components/ColorSwatch/ColorSwatch.styles.tsx
  src/components/ColorSwatch/__snapshots__/ColorSwatch.test.tsx.snap
  src/components/Layout/GlobalStyles.ts
  src/themes/tokens/colors.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(ordered-list): add component and basic styling
  src/components/OrderedList/OrderedList.styles.tsx
  src/components/OrderedList/OrderedList.tsx
  src/components/OrderedList/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(ordered-list): add tests for component
  src/components/OrderedList/OrderedList.test.tsx
  src/components/OrderedList/__snapshots__/OrderedList.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(unordered-list): add custom counter-style
  .stylelintrc.json
  src/components/Layout/styles/global.css
Due: prettier --write, jest --findRelatedTests

feat(unordered-list): add component for unordered list and checklist
  src/components/UnorderedList/UnorderedList.styles.tsx
  src/components/UnorderedList/UnorderedList.tsx
  src/components/UnorderedList/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(unordered-list): add tests for unordered list
  src/components/UnorderedList/UnorderedList.test.tsx
  src/components/UnorderedList/__snapshots__/UnorderedList.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(lists): add unordered and ordered list components to MDXProvider
  src/components/MDXProviderContainer/MDXProviderContainer.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(plop): update component template
  templates/component/{{pascalCase name}}.styles.tsx.txt
Due: none

feat(inline-code): add component
  src/components/InlineCode/InlineCode.styles.tsx
  src/components/InlineCode/InlineCode.tsx
  src/components/InlineCode/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(token): add radii tokens
  src/themes/index.ts
  src/themes/tokens/index.ts
  src/themes/tokens/radii.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(inline-code): add tests
  src/components/InlineCode/InlineCode.test.tsx
  src/components/InlineCode/__snapshots__/InlineCode.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(kbd): add component
  src/components/KeyboardShortcut/KeyboardShortcut.styles.tsx
  src/components/KeyboardShortcut/KeyboardShortcut.tsx
  src/components/KeyboardShortcut/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(kbd): add tests
  src/components/KeyboardShortcut/KeyboardShortcut.test.tsx
  src/components/KeyboardShortcut/__snapshots__/KeyboardShortcut.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(samp): add component
  src/components/Sample/Sample.styles.tsx
  src/components/Sample/Sample.tsx
  src/components/Sample/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(samp): add tests
  src/components/Sample/Sample.test.tsx
  src/components/Sample/__snapshots__/Sample.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

feat(var): add component
  src/components/Variable/Variable.styles.tsx
  src/components/Variable/Variable.tsx
  src/components/Variable/index.ts
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

test(var): add tests
  src/components/Variable/Variable.test.tsx
  src/components/Variable/__snapshots__/Variable.test.tsx.snap
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

chore(code-block): add max-width and overflow
  src/components/Layout/styles/global.css
Due: prettier --write, jest --findRelatedTests

chore(mdx-provider): add components to MDXProvider
  src/components/MDXProviderContainer/MDXProviderContainer.tsx
  src/components/Typography/Typography.tsx
Due: eslint --fix, stylelint --fix, prettier --write, jest --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  jest --findRelatedTests: any of: *.{js,jsx,ts,tsx,css,d.ts,json}
  prettier --parser markdown --write: any of: *.{mdx,md}
